<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div th:fragment="baymt" class="modal fade" id="baymt" tabindex="-1" role="dialog" aria-labelledby="baymt" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="baymt">Покупка магических предметов</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p style="text-align: justify;">Чтобы приобрести магический предмет, нужно найти людей, желающих его продать, и связаться с ними, а это в свою очередь требует времени и денег. И даже в этом
						случае нет гарантии, что у продавца есть нужный персонажу предмет.</p>
					<p style="text-align: justify;">
						<em><strong>Ресурсы.</strong> </em>Поиск магических предметов занимает минимум одну рабочую неделю и требует минимум 100 зм на расходы. Увеличение затрат времени и золота повышает шанс найти
						более редкий предмет.
					</p>
					<p style="text-align: justify;">
						<em><strong>Определение результата.</strong></em> Персонаж, который хочет купить волшебный предмет, должен совершить проверку <em>Харизмы (Убеждение)</em>, чтобы определить статус найденного
						продавца. Персонаж получает бонус к проверке +1 за каждую потраченную неделю после первой, и +1 за каждые дополнительно потраченные 100 зм, вплоть до максимального значения бонуса +10.
						Потраченные деньги включают в себя цену богатого образа жизни, поскольку покупатель должен произвести впечатление на потенциальных деловых партнёров.
					</p>
					<p style="text-align: justify;">По таблице &laquo;Покупка магических предметов&raquo;, исходя из результата проверки, можно решить, какая из таблиц, приведённых в Руководстве Мастера будет
						определять предметы в наличии. Либо вы просто можете случайно определять предметы по любым таблицам, соответствующим низшему результату из таблицы &laquo;Покупка магических предметов&raquo;. В
						качестве&nbsp;дополнительного правила, отражающего доступность предметов в вашей кампании, вы можете применить штраф -10 для слабомагической кампании или бонус +10 для сильномагической кампании.
						Кроме того, вы можете удвоить стоимость магических предметов, если кампании слабомагическая.</p>
					<p style="text-align: justify;">Пользуясь таблицей &laquo;Цена магического предмета&raquo;, вы определяете цену доступных предметов согласно их редкости. Уменьшите наполовину цену,
						запрашиваемую за расходуемые предметы, такие как зелья или свитки.</p>
					<p style="text-align: justify;">Решающее слово в вопросах ассортимента имеющихся в продаже предметов и их конечной стоимости остаётся за Мастером.</p>
					<p style="text-align: justify;">Если персонажи ищут конкретный магический&nbsp;предмет, сначала решите, допустим ли он в вашей игре. Если да, включите этот предмет в список предметов на
						продажу при результате броска 10 или выше &ndash;&nbsp;если предмет обычный, 15 или выше &ndash; если необычный, 20 или выше &ndash; если редкий, 25 или выше &ndash;&nbsp;если очень редкий, и 30
						или выше &ndash; если легендарный.</p>
					<p style="text-align: center;">
						<strong>Покупка магических предметов</strong>
					</p>
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Результат<br /> проверки
								</th>
								<th>Предметы в наличии</th>
							</tr>
							<tr>
								<td>1-5</td>
								<td>Совершите 1к6 бросков по таблице А магических предметов</td>
							</tr>
							<tr>
								<td>6-10</td>
								<td>Совершите 1к4 броска по таблице В магических предметов.</td>
							</tr>
							<tr>
								<td>11-15</td>
								<td>Совершите 1к4 броска по таблице С магических предметов.</td>
							</tr>
							<tr>
								<td>16-20</td>
								<td>Совершите 1к4 броска по таблице D магических предметов.</td>
							</tr>
							<tr>
								<td>21-25</td>
								<td>Совершите 1к4 броска по таблице E магических предметов.</td>
							</tr>
							<tr>
								<td>26-30</td>
								<td>Совершите 1к4 броска по таблице F магических предметов.</td>
							</tr>
							<tr>
								<td>31-35</td>
								<td>Совершите 1к4 броска по таблице G магических предметов.</td>
							</tr>
							<tr>
								<td>36-40</td>
								<td>Совершите 1к4 броска по таблице H магических предметов.</td>
							</tr>
							<tr>
								<td>41+</td>
								<td>Совершите 1к4 броска по таблице I магических предметов.</td>
							</tr>
						</tbody>
					</table>
					<p style="text-align: center;">
						<strong>Цена магического предмета</strong>
					</p>
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Редкость</th>
								<th>Запрашиваемая цена*</th>
							</tr>
							<tr>
								<td>Обычный</td>
								<td>(1к6+1) * 10 зм</td>
							</tr>
							<tr>
								<td>Необычный</td>
								<td>(1к6+1) * 100 зм</td>
							</tr>
							<tr>
								<td>Редкий</td>
								<td>2к10 * 1000 зм</td>
							</tr>
							<tr>
								<td>Очень редкий</td>
								<td>&nbsp;(1к4+1) * 10000 зм</td>
							</tr>
							<tr>
								<td>Легендарный</td>
								<td>2к6 * 25000 зм</td>
							</tr>
						</tbody>
					</table>
					<p style="text-align: left;">
						<sub><em>*Половина для расходуемых магических предметов &ndash; зелий, свитков и т. д.</em></sub>
					</p>
					<p style="text-align: justify;">
						<strong>Осложнения.</strong> Торговля магическими предметами &ndash; дело опасное. Сила предметов и доход с их продажи притягивают воров, мошенников и других злодеев. Если вы хотите сделать игру
						более интересной, используйте таблицу &laquo;Осложнения при покупке магического предмета&raquo; или придумайте собственное.
					</p>
					<p style="text-align: center;">
						<strong>Осложнения при покупке магического предмета</strong>
					</p>
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>к12</th>
								<th>Осложнение</th>
							</tr>
							<tr>
								<td>1</td>
								<td>Предмет &mdash; подделка, подкинутая недоброжелателем.*</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Предмет украден врагами группы.*</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Предмет проклят богом.</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Первоначальный владелец предмета готов убить, чтобы вернуть его, а противники группы распространяют новости о его продаже.*</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Предмет является ключевым элементом тёмного пророчества.</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Перед сделкой продавец был убит.*</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Продавец &ndash; это дьявол, желающий заключить сделку.</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Предмет служит ключом к освобождению злой&nbsp;сущности.</td>
							</tr>
							<tr>
								<td>9</td>
								<td>Третья сторона также хочет купить предмет и готова заплатить двойную стоимость.*</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Предмет является порабощённым разумным существом.</td>
							</tr>
							<tr>
								<td>11</td>
								<td>Предмет связан с культом.</td>
							</tr>
							<tr>
								<td>12</td>
								<td>Враги группы распространяют слухи о том, что предмет &ndash; артефакт злых сил.*</td>
							</tr>
						</tbody>
					</table>
					<p>
						<sub><em>*Возможно участие соперника</em></sub>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="sellmt" class="modal fade" id="sellmt" tabindex="-1" role="dialog" aria-labelledby="sellmt" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="sellmt">Покупка магических предметов</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
</body>
</html>