<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="navbar fixed-bottom navbar-dark bg-dark pb-0 pt-0" th:fragment="footer">
		<a class="navbar-brand" th:href="@{/}">DnD <img src="/resources/icons/svg/Dice.svg"> Club
		
		</a>
		<ul class="navbar-nav mr-auto">
			<span class="navbar-text">Материалы на данном сайте приведены исключительно в справочных и ознакомительных целях и не заменяют необходимость покупки официальных материалов по игре. 
				Весь графический материал и система Dungeons&amp;Dragons является собственностью корпорации Wizards of the Coast.<br> Перевод и русскоязычная терминология принадлежат студии фэнтези PHantom.
				Права на выпуск материалов на русском языке принадлежат Hobby Games
			</span>
		</ul>
	</nav>
</body>
</html>