<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<p class="text-center">
				<small class="text-secondary">Материалы на данном сайте приведены исключительно в справочных и ознакомительных целях и не заменяют необходимость покупки официальных материалов по игре.<br>
					Весь графический материал и система Dungeons&amp;Dragons является собственностью корпорации Wizards of the Coast.<br> Перевод и русскоязычная терминология принадлежат студии фэнтези PHantom.
					Права на выпуск материалов на русском языке принадлежат Hobby Games
				</small>
			</p>
		</div>
	</footer>
</body>
</html>