<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark color-header" th:fragment="header">
		<a class="navbar-brand" th:href="@{/}"> <img class="mr-3" src="/resources/Logo.png"></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-main">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Персонаж </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/hero/classes}">Классы</a>
						<a class="dropdown-item" th:href="@{/hero/races}">Расы</a>
						<a class="dropdown-item" th:href="@{/hero/backgrounds}">Предыстории</a>
						<a class="dropdown-item" th:href="@{/hero/traits}">Черты</a>
						<a class="dropdown-item" th:href="@{/hero/options}">Опции и особенности классов</a>
						<a class="dropdown-item" th:href="@{/hero/conditions}">Состояния и болезни</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/hero/spells}">Заклинания</a></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Сокровища </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/stock/treasures}">Драгоценности</a>
						<a class="dropdown-item" th:href="@{/stock/artifacts}">Магические предметы</a>
					</div></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Инвентарь</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/stock/armors}">Доспехи</a>
						<a class="dropdown-item" th:href="@{/stock/weapons}">Оружие</a>
						<a class="dropdown-item" th:href="@{/stock/equipments}">Снаряжение</a>
					</div></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Мастерская</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/calc/master}">Ширма</a>
						<a class="dropdown-item" th:href="@{/calc/idle}">Время простоя</a>
						<a class="dropdown-item" th:href="@{/calc/buyMagicThings}">Покупка магических вещей</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/calc/taverna}">Таверна на скорую руку</a>
						<a class="dropdown-item" th:href="@{/calc/wildMagic}">Дикая магия</a> <a class="dropdown-item" th:href="@{/calc/madness}">Безумие</a>
						<a class="dropdown-item" th:href="@{/calc/trader}">Торговец</a> <a class="dropdown-item" th:href="@{/calc/treasure}">Сокровищница</a>
						<a class="dropdown-item" th:href="@{/calc/encounters}">Случайные столкновения</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/entities/gods}">Боги</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/entities/creatures}">Бестиарий</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/references}">Ссылки</a></li>
				<li sec:authorize="hasRole('ROLE_USER')" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Персонажи</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/builder}">Создать персонажа</a>
						<a class="dropdown-item" th:href="@{/characters}">Список персонажей</a>
					</div></li>
				<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Админка</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href=@{/admin/artifact/add}>Добавить магическую вещь</a>
						<a class="dropdown-item" th:href=@{/admin/spell/add}>Добавить заклинание</a>
						<a class="dropdown-item" th:href="@{/admin/class/add}">Добавить класс</a>
						<a class="dropdown-item" th:href="@{/admin/race/add}">Добавить рассу</a>
						<a class="dropdown-item" th:href="@{/admin/background/add}">Добавить предысторию</a>
						<a class="dropdown-item" th:href="@{/admin/trait/add}">Добавить черту</a>
						<a class="dropdown-item" th:href="@{/admin/creature/add}">Добавить в бестиарий</a>
						<a class="dropdown-item" th:href="@{/admin/creature/parse}">Импорт монстра</a>
					</div></li>
			</ul>
			<div class="nav-item custom-control custom-switch mr-sm-2">
				<div id = "settingDropdown" class="dropdown">
					<button class="btn btn-main btn-color-main dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Источники</button>
					<div class="dropdown-menu" aria-labelledby="settingDropdown">
						<form class="px-4 py-3">
							<div class="nav-item custom-control custom-switch mr-sm-2">
								<input id="baseRule" type="checkbox" class="custom-control-input" th:checked="${session.settings == null or session.settings.baseRule}"> <label class="custom-control-label badge badge-secondary"
									for="baseRule"
								>Базовые</label>
							</div>
							<div class="nav-item custom-control custom-switch mr-sm-2">
								<input id="settingRule" type="checkbox" class="custom-control-input" th:checked="${session.settings != null and session.settings.setting}"> <label class="custom-control-label badge badge-success"
									for="settingRule"
								>Сеттинги</label>
							</div>
							<div class="nav-item custom-control custom-switch mr-sm-2">
								<input id="moduleRule" type="checkbox" class="custom-control-input" th:checked="${session.settings != null and session.settings.module}"><label class="custom-control-label badge badge-primary" for="moduleRule">Модули</label>
							</div>
							<div class="nav-item custom-control custom-switch mr-sm-2">
								<input id="homeRule" type="checkbox" class="custom-control-input" th:checked="${session.settings != null and session.settings.homeRule}"><label class="custom-control-label badge badge-info"
									for="homeRule"
								>Домашние</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<th:block sec:authorize="isAnonymous()">
				<form class="form-inline my-2 my-lg-0" th:action="@{/login}">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-square-outline btn-color-main-outline" type="submit"><img src="/resources/icons/svg/login_black_24dp.svg"></button>
						</div>
					</div>
				</form>
			</th:block>
			<div sec:authorize="isAuthenticated()">
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-square-outline btn-color-main-outline" type="submit"><img src="/resources/icons/svg/logout_white_24dp.svg"></button></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>