<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="header(search)">
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbar-main" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-main">
			<a class="navbar-brand" th:href="@{/}">D&amp;D 5E</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> Персонаж </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/hero/classes}">Классы</a> <a
							class="dropdown-item" th:href="@{/hero/races}">Расы</a> <a
							class="dropdown-item" th:href="@{/hero/backgrounds}">Предистории</a>
						<a class="dropdown-item" th:href="@{/hero/traits}">Черты</a> <a
							class="dropdown-item" th:href="@{/hero/conditions}">Состояния</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown"> Магия </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/hero/spells?sort=name,asc}">Заклинания</a>
						<a class="dropdown-item"
							th:href="@{/stock/artifacts?sort=name,asc}">Магические вещи</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown">Склад</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/stock/equipments}">Снаряжение</a>
						<a class="dropdown-item" th:href="@{/stock/armors}">Доспехи</a> <a
							class="dropdown-item" th:href="@{/stock/weapons}">Оружие</a>
					</div></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown">Путешествия</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/travel/transports}">Транспорт</a>
						<a class="dropdown-item" th:href="@{/travel/idle}">Простой</a>
					</div></li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/gods}">Боги</a></li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/creatures?sort=exp,asc}">Бестиарий</a></li>

				<li sec:authorize="hasRole('ROLE_USER')" class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown">Таверна</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/tavern/add}">Создать
							героя</a> <a class="dropdown-item" th:href="@{/tavern?sort=name,asc}">Список
							героев</a>
					</div></li>
				<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link dropdown-toggle" href="#" id="navbardrop"
					data-toggle="dropdown">Админка</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href=@{/admin/spell/add}>Добавить
							заклинание</a> <a class="dropdown-item" th:href="@{/admin/class/add}">Добавить
							класс</a> <a class="dropdown-item" th:href="@{/admin/race/add}">Добавить
							рассу</a> <a class="dropdown-item" th:href="@{/admin/background/add}">Добавить
							предисторию</a> <a class="dropdown-item"
							th:href="@{/admin/trait/add}">Добавить черту</a> <a
							class="dropdown-item" th:href="@{/admin//creature/add}">Добавить
							монстра</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" th:action="${search}">
				<input name="search" type="text" class="form-control mr-sm-2"
					id="usr" placeholder="Поиск">
				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Поиск</button>
			</form>
			<th:block sec:authorize="isAnonymous()">
				<form class="form-inline my-2 my-lg-0" th:action="@{/login}">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-outline-secondary my-2 my-sm-0"
								type="submit">Вход</button>
						</div>
					</div>
				</form>
			</th:block>
			<div sec:authorize="isAuthenticated()">
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-outline-secondary my-2 my-sm-0"
								type="submit">Выход</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</nav>
</body>
</html>