<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="UTF-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
        th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/pagination.css}" />

</head>
<body>
	<nav th:fragment="pages(pagable, pageurl)">
		<ul th:if="${pagable.totalPages > 1}"
			class="pagination justify-content-center pagination-sm">
			<li th:if="${pagable.hasPrevious()}" class="page-item"><a
				class="page-link"
				th:href="@{${pageurl}(page=${pagable.number-1}, sort=${param.sort})}"
				tabindex="-1">Предыдущая</a></li>
			<li
				th:each="i: ${#numbers.sequence(pagable.number < 4 ?
					1 : pagable.number - 2, pagable.number < 4 ?
					 (pagable.totalPages<6 ? pagable.totalPages : 6) : (pagable.number + 3 > pagable.totalPages) ?
					  pagable.number + pagable.totalPages - pagable.number  : pagable.number + 3)}"
				class="page-item"
				th:classappend="${pagable.number + 1 ==i} ? active"><a
				class="page-link"
				th:href="@{${pageurl}(page=${i-1}, sort=${param.sort})}"><span
					th:text="${i}"></span></a></li>
			<li th:if="${pagable.hasNext()}" class="page-item"><a
				class="page-link"
				th:href="@{${pageurl}(page=${pagable.number+1}, sort=${param.sort})}">Следующая</a></li>
		</ul>
		<div th:if="${pagable.content.empty}" class="alert alert-danger"
			role="alert">Ничего не найдено</div>
	</nav>

</body>
</html>