<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="UTF-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
        th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</head>
<body>
	<th:block th:fragment="schoolIcon(spell)">
		<th:block th:switch="${spell.school.name()}">
			<img th:case="'CONJURATION'"
				th:src="@{/resources/open-iconic/svg/flash.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'EVOCATION'"
				th:src="@{/resources/open-iconic/svg/rain.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'ILLUSION'"
				th:src="@{/resources/open-iconic/svg/eye.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'NECROMANCY'"
				th:src="@{/resources/open-iconic/svg/droplet.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'ABJURATION'"
				th:src="@{/resources/open-iconic/svg/shield.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'ENCHANTMENT'"
				th:src="@{/resources/open-iconic/svg/heart.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'TRANSMUTATION'"
				th:src="@{/resources/open-iconic/svg/transfer.svg}" height="25"
				th:title="${spell.school.name}" /> <img th:case="'DIVINATION'"
				th:src="@{/resources/open-iconic/svg/bullhorn.svg}" height="25"
				th:title="${spell.school.name}" />
		</th:block>
	</th:block>
</body>
</html>