<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="UTF-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
	
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

</head>
<body>
	<th:block th:fragment="schoolIcon(spell)">
		<th:block th:switch="${spell.school.name()}">
			<img class = "invert" th:case="'CONJURATION'"
				th:src="@{/resources/icons/Icon.2_99.png}" height="27"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'EVOCATION'"
				th:src="@{/resources/icons/Icon.4_26.png}" height="25"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'ILLUSION'"
				th:src="@{/resources/icons/Icon.1_39.png}" height="25"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'NECROMANCY'"
				th:src="@{/resources/icons/Icon.3_36.png}" height="25"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'ABJURATION'"
				th:src="@{/resources/icons/Icon.2_38.png}" height="25"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'ENCHANTMENT'"
				th:src="@{/resources/icons/Icon.2_21.png}" height="25"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'TRANSMUTATION'"
				th:src="@{/resources/icons/Icon.7_38.png}" height="27"
				th:title="${spell.school.name}" />
			<img class = "invert" th:case="'DIVINATION'"
				th:src="@{/resources/icons/Icon.6_22.png}" height="27"
				th:title="${spell.school.name}" />
		</th:block>
	</th:block>
</body>
</html>