<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<title th:text="|${archetypeName} - ${heroClass.name}|"></title>
<style>
p.text-justify {text-indent: 15px;}
img {float: center;}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
td.details-control {
	background: url('/resources/open-iconic/svg/plus.svg') no-repeat center
		center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('/resources/open-iconic/svg/minus.svg') no-repeat center center;
}
.badge-info {background-color: #F0D46C;}
.badge-success {background-color: #9FD8AF;}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container" style="margin-top: 25px" th:object="${heroClass}">
			<ul class="nav nav-tabs" id="nav-tabs" role="tablist">
				<li class="nav-item" role="presentation"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Навыки</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Описание</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link" id="spells-tab" data-toggle="tab" href="#spells" role="tab" aria-controls="spells" aria-selected="false"
					th:unless="${heroClass.spells.empty}"
				>Заклинания</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="false"
					th:if="${heroClass.optionType}" th:text="${heroClass.optionType.displayName}"
				>Опции класса</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link" id="optionsArchetype-tab" data-toggle="tab" href="#optionsArchetype" role="tab" aria-controls="optionsArchetype"
					aria-selected="false" th:if="${selectedArchetype.optionType}" th:text="${selectedArchetype.optionType.displayName}"
				>Опции архетипа</a></li>
			</ul>
			<div class="card">
				<h5 class="card-header">
					<th:block th:text="*{name}" />
					<small class="text-muted" th:if="*{englishName}" th:text="*{'(' + englishName + ')'}"></small><br> <small><a th:href="|#ad${selectedArchetypeId}|" class="text-secondary"
						th:text="${archetypeName}" th:onclick="|slowScroll('#ad${selectedArchetypeId}')|"
					></a></small>
				</h5>
				<div class="tab-content" id="classTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="card-body">
							<h5 class="card-title text-center" th:text="*{archetypeName}">архетипы</h5>
							<th:block th:each="archetype : ${archetypes}">
								<th:block th:switch="${archetype.book.type.name()}">
									<a th:case="'OFFICAL'" class="badge" th:classappend="${archetype.id eq selectedArchetypeId} ? badge-dark : badge-secondary" th:href="@{|/hero/classes/class/*{id}/archetype/${archetype.id}|}"
										th:text="${archetype.name}"
									></a>
									<a th:case="'CUSTOM'" class="badge" th:classappend="${archetype.id eq selectedArchetypeId} ? badge-dark : badge-info" th:href="@{|/hero/classes/class/*{id}/archetype/${archetype.id}|}"
										th:text="${archetype.name}"
									></a>
									<a th:case="'SETTING'" class="badge" th:classappend="${archetype.id eq selectedArchetypeId} ? badge-dark : badge-success" th:href="@{|/hero/classes/class/*{id}/archetype/${archetype.id}|}"
										th:text="${archetype.name}"
									></a>
								</th:block>
							</th:block>
						</div>
						<h6 class="card-header">Хиты</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pt-1 pb-1"><b>Кость Хитов:</b> 1к<th:block th:text="*{diceHp}" /> за каждый уровень</li>
							<li class="list-group-item pt-1 pb-1"><b>Хиты на 1 уровне:</b> <th:block th:text="*{diceHp}" /> + ваш модификатор Телосложения</li>
							<li class="list-group-item pt-1 pb-1"><b>Хиты на следующих уровнях:</b> 1к[[*{diceHp}]] (или [[*{diceHp/2 + 1}]]) + модификатор <em>Телосложения</em> за каждый уровень этого класса, после
								первого</li>
						</ul>
						<h6 class="card-header">Владение</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item pt-1 pb-1"><b>Доспехи:</b> <th:bloc th:text="*{armor}" /></li>
							<li class="list-group-item pt-1 pb-1"><b>Оружие:</b> <th:block th:text="*{weapon}" /></li>
							<li class="list-group-item pt-1 pb-1"><b>Инструменты:</b> <th:block th:text="*{tools}" /></li>
							<li class="list-group-item pt-1 pb-1"><b>Спаcброски:</b> <th:block th:text="*{savingThrows}" /></li>
							<li class="list-group-item pt-1 pb-1"><b>Навыки:</b> Выберите [[*{skillAvailableCount}]] навыка из следующих: <th:block th:if="*{skillAvailableCount == 18}">Выберите [[*{skillAvailableCount}]] любых навыка.</th:block>
								<th:block th:each="skill, iterStat : *{availableSkills}" th:text="${iterStat.last} ? ${skill.cyrilicName} : ${skill.cyrilicName} + ', '" /></li>
						</ul>
						<h6 th:if="*{equipment}" class="card-header">Снаряжение</h6>
						<div th:if="*{equipment}" class="card-body">
							<p>Вы начинаете со следующим снаряжением в дополнение к снаряжению, полученному за вашу предысторию:</p>
							<th:block th:utext="*{equipment}"></th:block>
						</div>
						<div id="begin" class="card">
							<h5 class="card-header">Развитие по уровням</h5>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-striped table-sm">
										<thead>
											<tr align="center">
												<th rowspan="2" style="width: 5%">Уровень</th>
												<th align="center" rowspan="2" style="width: 5%">Бонус мастерста</th>
												<th align="center" rowspan="2">Умения</th>
												<th th:each="featurelevelDefinition : *{featureLevelDefenitions}" align="center" rowspan="2" th:text="${featurelevelDefinition.name}" style="width: 5%">Умения</th>
												<th th:unless="*{levelDefenitions.empty}" align="center" colspan="9">Ячейки заклинаний на уровень заклинаний</th>
											</tr>
											<th:block th:unless="*{levelDefenitions.empty}">
												<tr align="center">
													<th>1</th>
													<th>2</th>
													<th>3</th>
													<th>4</th>
													<th>5</th>
													<th:block th:unless="*{id eq 6 or id eq 7 or id eq 14}">
														<th>6</th>
														<th>7</th>
														<th>8</th>
														<th>9</th>
													</th:block>
												</tr>
											</th:block>
										</thead>
										<tbody th:with="levelDef=${ {0,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6} }">
											<tr th:each="level : ${#numbers.sequence(1, 20)}" align="center">
												<td align="center" th:text="${level}" />
												<td align="center" th:text="${'+' + levelDef[level]}" />
												<td><a class="text-info" th:each="architypeTrait, iterStat2 : ${heroClass.getArhitypeTraitNames(level)}"
													th:text="${iterStat2.last and heroClass.getTraitsClear(level).empty} ? ${#strings.toLowerCase(architypeTrait.name)} : ${#strings.toLowerCase(architypeTrait.name)} + ', '" th:href="|#a${architypeTrait.id}|"
													th:onclick="|slowScroll('#a${architypeTrait.id}')|"
												></a>
												<a th:each="trait, iterStat : ${heroClass.getTraits(level)}" class="text-primary" th:unless=${trait.architype} th:href="|#c${trait.id}|" th:onclick="|slowScroll('#c${trait.id}')|"
															th:utext="${iterStat.last} ? ${trait.name.toLowerCase()} : ${trait.name.toLowerCase()} + ', '"></a>
												</td>
												<td th:each="featureLevel : *{featureLevelDefenitions}" th:with="byLevel = ${featureLevel.getByLevel(level)}"><th:block th:if="${featureLevel.prefix ne null and byLevel gt 0}"
														th:text="${featureLevel.prefix}"
													/> <th:block th:if="${byLevel gt 0}" th:text="${byLevel}" /> <th:block th:if="${byLevel eq 0}" th:text="'—'" /> <th:block th:if="${byLevel eq -1}" th:text="'Неограниченно'" /> <th:block
														th:if="${featureLevel.sufix ne null and byLevel gt 0}" th:text="${featureLevel.sufix}"
													/></td>
												<th:block th:unless="*{levelDefenitions.empty}">
													<td th:text="${heroClass.levelDefenitions[level - 1].slot1 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot1}" /></td>
													<td th:text="${heroClass.levelDefenitions[level - 1].slot2 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot2}" />
													<td th:text="${heroClass.levelDefenitions[level - 1].slot3 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot3}" />
													<td th:text="${heroClass.levelDefenitions[level - 1].slot4 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot4}" />
													<td th:text="${heroClass.levelDefenitions[level - 1].slot5 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot5}" />
													<th:block th:unless="*{id eq 6 or id eq 7 or id eq 14}">
														<td th:text="${heroClass.levelDefenitions[level - 1].slot6 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot6}" />
														<td th:text="${heroClass.levelDefenitions[level - 1].slot7 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot7}" />
														<td th:text="${heroClass.levelDefenitions[level - 1].slot8 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot8}" />
														<td th:text="${heroClass.levelDefenitions[level - 1].slot9 eq 0 ? '—' : heroClass.levelDefenitions[level - 1].slot9}" />
													</th:block>
												</th:block>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<h5 class="card-header">Умения</h5>
							<div class="card-body">
								<th:block th:each="feature : ${features}">
									<h5 class="card-title mb-0" th:text="${feature.name}" th:id="|${feature.prefix}${feature.id}|"></h5>
									<h6 class="text-secondary mb-0" th:text="${feature.type}"></h6>
									<hr class="mb-0 mt-1" color="#A12000" />
									<p class="card-text" th:utext="${feature.description}" />
									<div th:if="${feature.prefix eq 'ad'}">
										<table class="table-striped mx-auto" th:unless=${selectedArchetype.spells.isEmpty()}>
											<thead>
												<tr>
													<th class="text-center">Уровень</th>
													<th>Заклинания</th>
												</tr>
											</thead>
											<tr th:each="element : ${selectedArchetype.levelSpells}">
												<td class="text-center" th:text="${element.key}"></td>
												<td><a class="text-danger" th:href="@{'/hero/spells/spell/' + ${spell.id}}" tabindex="0" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="auto"
													th:title="${spell.name}" th:attr="data-content=${spell.description}" th:each="spell, iterStat : ${element.value}"
													th:text="${iterStat.last} ? ${#strings.toLowerCase(spell.name)} : ${#strings.toLowerCase(spell.name)} + ', '"
												></a></td>
											</tr>
											<tbody>
											</tbody>
										</table>
									</div>
								</th:block>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
						<div class="card-body mb-0 mt-1" th:utext="${selectedArchetype.description}"></div>
						<hr class="mb-0 mt-1" color="#A12000" />
						<div class="card-body mb-0 mt-1" th:if="*{description}" th:utext="*{description}"></div>
					</div>
					<div class="tab-pane fade" id="spells" role="tabpanel" aria-labelledby="spells-tab">
						<div th:unless="${heroClass.spells.empty}" class="card-body">
							<table id="example" class="table table-hover table-sm" style="width: 100%">
								<thead>
									<tr>
										<th>Школа</th>
										<th title="Уровень заклинания">Уровень</th>
										<th>Классы</th>
										<th>Название</th>
										<th title="Время накладывания">Время</th>
										<th>Длительность</th>
										<th>Дистанция</th>
										<th title="риуал">Р</th>
										<th title="концентрация">К</th>
										<th title="вербальный">В</th>
										<th title="соматический">С</th>
										<th title="материальный">М</th>
										<th>Тип урона</th>
										<th>Источник</th>
										<th>English</th>
										<th>Расходуемые материалы</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
						<div th:if="${heroClass.optionType}" class="card-body">
							<table id="classOptionsTable" class="table table-hover table-sm" style="width: 100%; background-color: #FFFAF0;">
								<thead>
									<tr>
										<th>Опция</th>
										<th>Тип</th>
										<th>Требование</th>
										<th>Уровень</th>
										<th>Источник</th>
										<th>englishName</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="optionsArchetype" role="tabpanel" aria-labelledby="optionsArchetype-tab">
						<div th:if="${selectedArchetype.optionType}" class="card-body">
							<table id="architypeOptionsTable" class="table table-hover table-sm" style="width: 100%; background-color: #FFFAF0;">
								<thead>
									<tr>
										<th>Опция</th>
										<th>Тип</th>
										<th>Требование</th>
										<th>Уровень</th>
										<th>Источник</th>
										<th>englishName</th>
										<th></th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<div class="card-footer text-muted" th:text="|Источник: ${heroClass.book.name}${heroClass.page eq null?'':', стр.' + heroClass.page}|"></div>
			</div>
		</div>
		<div class="fixed-bottom row justify-content-center">
			<button id="back-to-top" onclick="slowScroll('#begin')" class="btn btn-light btn-lg scroll-top" data-scroll="up" type="button">
				<i class="fa fa-chevron-up"></i>
			</button>
		</div>
	</div>
</body>
<script layout:fragment="datatable">
	$(document).ready(function() {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 150) {
				$('#back-to-top').fadeIn();
			} else {
				$('#back-to-top').fadeOut();
			}
		});
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
		$('#example').one(
				'preXhr.dt',
				function(e, settings, data) {
					data.searchPanes = {};
					data.searchPanes["heroClass.0"] =  '[[${heroClass.name}]]';
				})
		var table = $('#example').DataTable( {
			iDisplayLength : 25,
			dom: 'Bfrtip',
	        processing : true,
	        serverSide : true,
			ajax : '/spells',
			columns : [
						{
							data : "school",
							render : function(data, type) {
								if (type === 'display') {
									var icon = '';
									switch (data) {
									case 'воплощение':
										icon = '<img class="invert" src="/resources/icons/Icon.2_99.png" title="воплощение" height="25">';
										break;
									case 'вызов':
										icon = '<img class="invert" src="/resources/icons/Icon.4_26.png" title="вызов" height="25">';
										break;
									case 'иллюзия':
										icon = '<img class="invert" src="/resources/icons/Icon.1_39.png" title="иллюзия" height="25">';
										break;
									case 'некромантия':
										icon = '<img class="invert" src="/resources/icons/Icon.3_36.png" title="некромантия" height="25">';
										break;
									case 'ограждение':
										icon = '<img class="invert" src="/resources/icons/Icon.2_38.png" title="ограждение" height="25">';
										break;
									case 'очарование':
										icon = '<img class="invert" src="/resources/icons/Icon.2_21.png" title="очарование" height="25">';
										break;
									case 'преобразование':
										icon = '<img class="invert" src="/resources/icons/Icon.7_38.png" title="преобразование" height="25">';
										break;
									case 'прорицание':
										icon = '<img class="invert" src="/resources/icons/Icon.6_22.png" title="прорицание" height="25">';
										break;
									}
									return icon;
								}
								return data;
							},
							width : "1%",
						    className: "text-center"
						}, 
						{
								data : "level",
								width : "1%",
							    className: "text-center"
						}
						,
						{
							data : "heroClass",
							render: {
			                    _: '[, ].name',
			                    sp:'[].name'
			                },
							width : "1%",
						    className: "text-center"
						},
						{
								data : "name",
								width : "20%", 
								render : function(data, type, row) {
									if (type === 'display') {
										var school = '';
										var result = '<h6>' + data + ' <small class="text-secondary">(' + row.englishName + ')';
										if (row.ritual === 'true') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="ритуал" class="badge badge-pill badge badge-success">Р</span>'; 
										}
										if (row.concentration === 'true') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="концентрация" class="badge badge-pill badge-info">К</span>';	
										}
										result+='</small></h6><small>';
										result += '<div class="text-secondary">';
										result += row.school;
										if (row.verbalComponent === '★') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="вербальный" class="badge badge-secondary">В</span>';
										}
										if (row.somaticComponent === '★') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="соматический" class="badge badge-secondary">С</span>';
										}
										if (row.materialComponent === '★') {
											if (row.consumable){
												result+=' <span data-toggle="tooltip" data-placement="top" title="материальный, расходуемый" class="badge badge-dark">М</span>';
											}
											else {
												result+=' <span title="материальный" class="badge badge-secondary">М</span>';	
											}
										}
										result += '</small></div>';
										return result;
									}
									return data;
								}, 
						},
						{
								data : "timeCast",
								width : "5%",
								className: "dt-head-center",
							    className: "dt-body-center",
								render : function(data, type) {
									if (type === 'display') {
										if (data.includes('1 реакция'))
										{
											return '1 реакция';
										}
										return data;
									}
									return data;
								}
						},
						{
								data : "duration",
								width : "5%",
							    className: "text-center"
						},
						{
							data : "distance",
							width : "5%",
						    className: "text-center"
						},
						{
								data : "ritual",
								width : "3%",
								className: "dt-head-center",
								className: "dt-body-center",
								render : function(data, type) {
									if (type === 'display') {
										var icon = '';
										switch (data) {
										case 'true':
											icon = '<img class="invert" data-toggle="tooltip" data-placement="top" src="/resources/icons/Icon.7_53.png" title="ритуал" height="25">';
											break;
										}
										return icon;
									}
									return data;
								},
							    searchable: false
							},
							{
								data : "concentration",
								render : function(data, type) {
									if (type === 'display') {
										var icon = '';
										switch (data) {
										case 'true':
											icon = '<img class="invert" data-toggle="tooltip" data-placement="top" src="/resources/icons/Icon.5_05.png" title="концентрация" height="25">';
											break;
										}
										return icon;
									}
									return data;
								},
								width : "2%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "verbalComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "somaticComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "materialComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false		
							},
							{
								data : "damageType",
								width : "10%",
							    className: "text-center",
							    searchable: false		
							},
							{
								data : "book",
								width : "5%",
							    className: "text-center",
							    searchable: false		
							},
							{
								data : 'englishName',
								width : "1%",
							    orderable: false,
							},
							{
								data : 'consumable',
								width : "1%",
							    orderable: false,
							    searchable: false,
							},
							{
								className : 'details-control',
							    searchable: false,
							    orderable: false,
								defaultContent : '',
								width : "1%"
							},
							],
							columnDefs : [
					            {
					                "targets": [ 0 ],
					                "visible": false
					            },
					            {
									searchPanes : {
										preSelect : [ '[[${heroClass.name}]]' ],
									},
					            	"targets": [ 2 ],
					                "visible": false
					            },
					            {
					                "targets": [ 4 ],
					                "visible": false
					            },
					            {
					                "targets": [ 5 ],
					                "visible": false
					            },
					            {
					                "targets": [ 6 ],
					                "visible": false
					            },
					            {
					                "targets": [ 7 ],
					                "visible": false
					            },
					            {
					                "targets": [ 8 ],
					                "visible": false
					            },
					            {
					                "targets": [ 9 ],
					                "visible": false
					            },
					            {
					                "targets": [ 10 ],
					                "visible": false
					            },
					            {
					                "targets": [ 11 ],
					                "visible": false
					            },
					            {
					                "targets": [ 12 ],
					                "visible": false
					            },
					            {
					                "targets": [ 13 ],
					                "visible": false
					            },
					            {
					                "targets": [ 14 ],
					                "visible": false
					            },
					            {
					                targets: [ 15 ],
					                visible: false
					            }
					        ],
					        buttons: [
					        	'searchPanes',
					            {
					        		extend: 'colvis',
					                text: 'Столбцы',
					                buttons: [
					                    {
					                        text: 'Школа',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 0 ).visible( ! dt.column( 0 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Время',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
					                        }
					                    },
					                    ,
					                    {
					                        text: 'Длительность',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 5 ).visible( ! dt.column( 5 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Дистанция',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 6 ).visible( ! dt.column( 6 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Ритуал',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 7 ).visible( ! dt.column( 7 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Концентрация',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 8 ).visible( ! dt.column( 8 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Компоненты',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 9 ).visible( ! dt.column( 9 ).visible() );
					                            dt.column( 10 ).visible( ! dt.column( 10 ).visible() );
					                            dt.column( 11 ).visible( ! dt.column( 11 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Тип урона',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 12 ).visible( ! dt.column( 12 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Источник',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 13 ).visible( ! dt.column( 13 ).visible() );
					                        }
					                    }
					                ]
					            }
					        ],
					order : [(${order})],
					language : {
						processing : "Загрузка...",
						search : "Поиск",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано с _START_ до _END_ из _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "(filtered from _MAX_ всего)",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        }
					},
					ordering : true,
				});
	$('#example tbody').on('click', 'tr', function () {
    	var tr = $(this).closest('tr');
    	var row = table.row( tr );
	
	    if ( row.child.isShown() ) {
        	row.child.hide();
        	tr.removeClass('shown');
    	}
    	else {
	        row.child( format(row.data()) ).show();
        	tr.addClass('shown');
    	}
		});
	});
	
	function format ( d ) {
			var info = '<p><em>' + d.level; 
			if (d.level != 'Заговор') {
				info += ' уровень'
			}
			if (d.ritual === 'true') {
				info += ' (ритуал)'				
			}
			info += ', ' + d.school;
			info += '</em></p>';
			info += '<div><strong>Время накладывания:</strong> '+ d.timeCast + '</div>'+
            '<div><strong>Дистанция:</strong> ' + d.distance + '</div>'+
        	'<div><strong>Длительность:</strong> '+ d.duration + '</div>'+ 
        	 (d.components != null ? '<div><strong>Материалы:</strong> '+ d.components + '</div>' : '') +
        	 '<p>' + d.description + '</p]>';
			 if (d.upperLevel) {
				 info += '<p><strong>На более высоких уровнях:</strong> '+ d.upperLevel + '</p>';
			 }
        	 info += '<p><strong>Классы:</strong> ';
        	 info+= '<div class="btn-group" role="group">'
        	 for (var hclass in d.heroClass){
        		 info += '<a class="btn btn-outline-secondary btn-sm"  href="/hero/classes/class/' + d.heroClass[hclass].id + '">'; 
        		 info += '<img src="/resources/classes/' + d.heroClass[hclass].id + '.png" title="' + d.heroClass[hclass].name + '" height="25" width="25" /> </a>';
        	 }
        	 info+= '</div>';
        	 info += '</p>';
        	 info += '<a class="btn btn-outline-dark btn-sm" href="/hero/spells/spell/' + d.id + '">Подробно</a>';
			 info += '<p class="text-right font-weight-light"><small>Источник: '+ d.book + '</small></p>'; 
		    return info; 
	}
    function slowScroll(id) { 
        var offset = 0;
        $('html, body').animate({ 
             scrollTop: $(id).offset().top - offset 
        }, 1000);
        return false; 
    }
    $(function () {
      $('[data-toggle="popover"]').popover({
    	delay: { "show": 400, "hide": 100 },
    	html: true,
    	container: 'body',
      })
    })
    $('#classOptionsTable').one(
			'preXhr.dt',
			function(e, settings, data) {
				var option= '[[${heroClass.optionType}]]'
					if (option!==null){
						data.searchPanes = {};
						data.searchPanes["optionTypes.0"] = '[[${heroClass.optionType == null ? '': heroClass.optionType.name}]]';
					}
			}
	)
	var table = $('#classOptionsTable').DataTable( {
		iDisplayLength : 25,
        dom: 'Bfrtip',
        paging: false,
        serverSide : true,
		ajax : '/options',
		columns : [
					{
						data : "name",
						width : "30%", 
						render : function(data, type, row) {
							if (type === 'display') {
								return '<h6>' + data + (row.englishName ? '<small class="text-secondary"> (' + row.englishName + ')</small>' : '') 
								+ '</h6>' + '<div class="text-secondary"><small>' + row.book + '</small></div>';
							}
							return data;
						}, 
					},
					{
						data : "optionTypes",
						width : "15%",
						searchable: false,
					}, 
					{
						data : "prerequisite",
						width : "30%"
					},
					{
						data : "level",
						width : "2%",
					    searchable: false,
					},
					{
						data : "book",
						width : "10%",
					    searchable: false,
					},
					{
						data : "englishName",
						width : "1%"
					},
					{
						className : 'details-control',
					    searchable: false,
					    orderable: false,
						defaultContent : '',
						width : "1%"
					},
				],
				columnDefs : [
		            {
		                "targets": [ 4 ],
		                "visible": false
			        },
		            {
					searchPanes : {
							preSelect : [ '[[${heroClass.optionType}]]' ],
						},
		            	"targets": [ 1 ],
		                "visible": false
		            },
		            {
		                "targets": [ 5 ],
		                "visible": false
			        },
			    ],
			    buttons: [
		        	'searchPanes',
		            {
		        		extend: 'colvis',
		                text: 'Столбцы',
		                buttons: [
		                    {
		                        text: 'Источник',
		                        action: function ( e, dt, node, config ) {
		                            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
		                        }
		                    },
		                ]
		            }
		        ],
				language : {
					processing : "Загрузка...",
					search : "Поиск",
					lengthMenu : "Показывать _MENU_ записей на странице",
					zeroRecords : "Ничего не найдено",
					info : "Показано с _START_ до _END_ из _TOTAL_",
					infoEmpty : "Нет доступных записей",
					infoFiltered : "(filtered from _MAX_ всего)",
					paginate : {
						first : "В начало",
						previous : "Предыдущая",
						next : "Следущая",
						last : "В конец"
					},
					searchPanes: {
						clearMessage : "Сбросить",
			            title : {
			                    _: 'Отфильтровано - %d',
			                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
			                    1: 'Один фильтр выбран',
			            },
			            collapse: 'Фильтры (%d)'
			        },
				},
				ordering : true,
			});
	$('#classOptionsTable tbody').on('click', 'tr', function () {
    	var tr = $(this).closest('tr');
    	var row = table.row( tr );
	    if ( row.child.isShown() ) {
        	row.child.hide();
        	tr.removeClass('shown');
    	}
    	else {
	        row.child(formatOption(row.data())).show();
        	tr.addClass('shown');
    	}
	});
    $('#architypeOptionsTable').one(
			'preXhr.dt',
			function(e, settings, data) {
				var option= '[[${selectedArchetype.optionType}]]'
				if (option!==null){
					data.searchPanes = {};
					data.searchPanes["optionTypes.0"] = '[[${selectedArchetype.optionType == null ? '': selectedArchetype.optionType.name}]]';
				}
		}
	)
	var atable = $('#architypeOptionsTable').DataTable( {
		iDisplayLength : 25,
        dom: 'Bfrtip',
        paging: false,
        serverSide : true,
		ajax : '/options',
		columns : [
					{
						data : "name",
						width : "30%", 
						render : function(data, type, row) {
							if (type === 'display') {
								return '<h6>' + data + (row.englishName ? '<small class="text-secondary"> (' + row.englishName + ')</small>' : '') 
								+ '</h6>' + '<div class="text-secondary"><small>' + row.book + '</small></div>';
							}
							return data;
						}, 
					},
					{
						data : "optionTypes",
						width : "1%",
						searchable: false,
					}, 
					{
						data : "prerequisite",
						width : "30%"
					},
					{
						data : "level",
						width : "2%",
					    searchable: false,
					},
					{
						data : "book",
						width : "10%",
					    searchable: false,
					},
					{
						data : "englishName",
						width : "1%"
					},
					{
						className : 'details-control',
					    searchable: false,
					    orderable: false,
						defaultContent : '',
						width : "1%"
					},
				],
				columnDefs : [
		            {
		                "targets": [ 4 ],
		                "visible": false
			        },
		            {
					searchPanes : {
							preSelect : [ '[[${selectedArchetype.optionType}]]' ],
						},
		            	"targets": [ 1 ],
		                "visible": false
		            },
		            {
		                "targets": [ 5 ],
		                "visible": false
			        },
			    ],
			    buttons: [
		        	'searchPanes',
		            {
		        		extend: 'colvis',
		                text: 'Столбцы',
		                buttons: [
		                    {
		                        text: 'Источник',
		                        action: function ( e, dt, node, config ) {
		                            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
		                        }
		                    },
		                ]
		            }
		        ],
				language : {
					processing : "Загрузка...",
					search : "Поиск",
					lengthMenu : "Показывать _MENU_ записей на странице",
					zeroRecords : "Ничего не найдено",
					info : "Показано с _START_ до _END_ из _TOTAL_",
					infoEmpty : "Нет доступных записей",
					infoFiltered : "(filtered from _MAX_ всего)",
					paginate : {
						first : "В начало",
						previous : "Предыдущая",
						next : "Следущая",
						last : "В конец"
					},
					searchPanes: {
						clearMessage : "Сбросить",
			            title : {
			                    _: 'Отфильтровано - %d',
			                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
			                    1: 'Один фильтр выбран',
			            },
			            collapse: 'Фильтры (%d)'
			        },
				},
				ordering : true,
			});
	$('#architypeOptionsTable tbody').on('click', 'tr', function () {
    	var tr = $(this).closest('tr');
    	var row = atable.row( tr );
	    if ( row.child.isShown() ) {
        	row.child.hide();
        	tr.removeClass('shown');
    	}
    	else {
	        row.child(formatAOption(row.data())).show();
        	tr.addClass('shown');
    	}
	});
	function formatOption(d) {
		return "<small>" + d.type + "</small></p>" + d.description + '<p class="text-right font-weight-light"><small>Источник: '+ d.book + '</small>'; 
	}
	function formatAOption(d) {
		return "<small>" + d.type + "</small></p>" + d.description + '<p class="text-right font-weight-light"><small>Источник: '+ d.book + '</small>'; 
	}
	</script>
</html>