<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/js-layout}">
<head>
<title>Покупка магического предмета</title>
</head>
<body>
	<div class="container pb-5 pt-5" layout:fragment="content">
		<div class = "pb-3"></div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Редкость</span>
				</div>
				<select id="raritySelect" class="custom-select">
					<option th:each="rarity : ${rarities}" th:text="${rarity.cyrilicName}" th:value="${rarity.ordinal()}"></option>
				</select>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Недель простоя</span>
				</div>
				<select id="idleWeeks" class="custom-select">
					<option th:each="i: ${#numbers.sequence(1, 10)}" th:text="${i}" th:value="${i -1}"></option>
				</select>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Вложения в зм.</span>
				</div>
				<select id="investment" class="custom-select">
					<option th:each="i: ${#numbers.sequence(1, 10)}" th:text="${i * 100}" th:value="${i -1}"></option>
				</select>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Сложность: Убеждение</span>
				</div>
				<input id="bayDC" type="text" class="form-control" disabled value="10">
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Стоимость</span>
				</div>
				<input id="thingPrice" type="text" class="form-control" disabled value="10 зм." /> <input id="thingRollPrice" type="text" class="form-control" disabled value="" />
			</div>
		</div>
		<a href="#baymt" data-toggle="modal" data-target="#baymt">Руководство по покупке магических предметов</a> (из Руководства Занатар обо всем)
		<div th:insert="fragments/downtime :: baymt"></div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/resources/js/settings.js}"></script>
<script th:inline="javascript" layout:fragment="script">
	/*<![CDATA[*/
	$('#lifeDay').change(function() {
		updatePrice();
	})

	function updatePrice() {
		var index = $('#lifeStyle').val();
		var lifeday = $('#lifeDay').val();
		var sum = 0;
		if (lifeday.trim() != "") {
			var day = parseInt(lifeday, 10);
			var price = /*[[${costs}]]*/0;
			sum = price[index] * day;
		}
		$('#cost').text("Расходы: " + sum.toFixed(2) + " зм.");
	}

	$(document).ready(function() {
		$('#lifeStyle').change(function() {
			$('.hiddenRow').hide();
			$('#' + $(this).val()).show();
			$("#lifeDay").prop("disabled", $(this).val() == -1);
			if ($(this).val() == -1) {
				$('#cost').text("Расходы: 0 зм.");
			} else {
				updatePrice();
			}
		})
	});

	$('#raritySelect').change(function() {
		calculateDC();
	})
	$('#idleWeeks').change(function() {
		calculateDC();
	})
	$('#investment').change(function() {
		calculateDC();
	})
	function calculateDC() {
		var index = $('#raritySelect').val();
		var idleWeeks = $('#idleWeeks').val();
		var investment = $('#investment').val();
		var dcs = [ 10, 15, 20, 25, 30 ];
		var bonus = parseInt(idleWeeks, 10) + parseInt(investment, 10);
		bonus = bonus > 10 ? 10 : bonus;
		var dc = dcs[index] - bonus;
		document.getElementById("bayDC").value = dc.toString();
		var price = 0;
		var rollPrice;
		switch (index) {
		case '0':
			price = (Math.floor(Math.random() * 6 + 1) + 1) * 10;
			rollPrice = '(1к6+1) * 10 зм.';
			break;
		case '1':
			price = (Math.floor(Math.random() * 6 + 1) + 1) * 100;
			rollPrice = '(1к6+1) * 100 зм.';
			break;
		case '2':
			price = (Math.floor(Math.random() * 10 + 1) + Math.floor(Math
					.random() * 10 + 1)) * 1000;
			rollPrice = '2d10 * 1000 зм.';
			break;
		case '3':
			price = (Math.floor(Math.random() * 4 + 1) + 1) * 10000;
			rollPrice = '(1d4+1) * 10000 зм.';
			break;
		case '4':
			price = (Math.floor(Math.random() * 6 + 1) + Math.floor(Math
					.random() * 6 + 1)) * 25000;
			rollPrice = '2d6 * 25000 зм';
			break;
		default:
			price = 0;
		}
		document.getElementById("thingPrice").value = price.toString() + ' зм.';
		document.getElementById("thingRollPrice").value = rollPrice;
	}
	/*]]>*/
</script>
</html>
