<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Классы</title>
<link rel="stylesheet" th:href="@{/resources/css/card.columns.flex.css}" />
<script th:src="@{/resources/js/fixCardColumn.js}"></script>
</head>
<body>
	<main role="main" class="container-flex" style="margin-top: 25px" layout:fragment="content">
		<div class="card-columns">
			<div th:each="heroClass : ${classes}" class="card mb-3 text-center">
				<div class="card-header">
					<h4 th:text="${heroClass.name}" class="my-2 font-weight-normal flex-grow-2"></h4>
				</div>
				<a th:href="@{|/hero/classes/class/${heroClass.id}|}"> <img class="img-fluid" th:src="@{|https://storage.googleapis.com/dnd5/classes/art/${heroClass.id}.jpg|}" align="middle" /></a>
			</div>
		</div>
	</main>
</body>
</html>