<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title th:text="${'Dnd 5E '+ race.name}"></title>
<meta charset="utf-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" 	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

</head>
<body>
	<div th:insert="fragments/header :: header(@{/creatures})"></div>
	<div class="container" style="margin-top: 25px">
		<div class="card">
			<div class="card-body">
				<th:block th:each="creatureRace : ${creatureRaces}">
					<a th:href="@{'/creatures/race/' + ${creatureRace.id}}" th:text="${creatureRace.name}"></a>
				</th:block>
			</div>
		</div>

		<div class="card" th:object="${race}" style="margin-top: 60px">
			<h5 class="card-header" th:text="*{name}"></h5>
			<div class="card-body" th:utext="*{description}"></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" style="width: 3%">CR</th>
							<th scope="col">Наименование</th>
							<th scope="col">Вид</th>
						</tr>
					</thead>
					<tr th:each="creature : ${creatures}" style="cursor: pointer"
						th:onclick="'javascript:rowClicked(\'' + ${creature.id} + '\');'">
						<td th:text="${creature.challengeRating}" />
						<td th:text="${creature.name}" />
						<td th:text="${creature.type.cyrilicName}" />
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/resources/js/settings.js}"></script>

<script>
	function rowClicked(value) {
		var baseUrl = '[[@{/creatures/creature/}]]';
		location.href = baseUrl + value;
	}
</script>
</html>