<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="|Метки - ${race.name}|"></title>
<script>
	function rowClicked(value) {
		var baseUrl = '[[@{/entities/creature/}]]';
		location.href = baseUrl + value;
	}
</script>
</head>
<body>
	<div class="container p-5" style="margin-top: 25px" layout:fragment="content">
		<th:block th:each="creatureRace : ${creatureRaces}">
			<a class="badge" th:classappend="${race.id eq creatureRace.id} ? badge-dark : badge-secondary" th:href="@{|/entities/race/${creatureRace.id}|}" th:text="${creatureRace.name}"></a>
		</th:block>
		<div th:object="${race}">
			<h5 class="main-header pt-3" th:text="*{name}"></h5>
			<div th:utext="*{description}"></div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" style="width: 3%">CR</th>
						<th scope="col">Наименование</th>
						<th scope="col">Вид</th>
					</tr>
				</thead>
				<tr th:each="creature : ${creatures}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${creature.id} + '\');'">
					<td th:text="${creature.challengeRating}" />
					<td th:text="${creature.name}" />
					<td th:text="${creature.type.cyrilicName}" />
				</tr>
			</table>
		</div>
	</div>
</body>
</html>