<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-mobile}">
<head>
<title>Классы</title>
<link rel="stylesheet" th:href="@{/resources/css/card.columns.flex.css}" />
<script th:src="@{/resources/js/fixCardColumn.js}"></script>
</head>
<body>
	<div role="main" class="container-fluid pb-5 pt-5 pl-3 pr-3" layout:fragment="content">
		<div class="row justify-content-md-center">
			<div th:each="heroClass : ${classes}" class="col-md-auto pl-3 pr-3 pb-1 pt-1">
				<div class="card-class">
					<div class="text-class" th:text="${heroClass.capitalazeName}"></div>
					<a th:href="@{|/classes/${heroClass.englishName}|}"> <img class="rounded-lg" th:src="@{|https://storage.googleapis.com/dnd5/classes/art/${heroClass.id}.jpg|}" align="middle" width="250" height="260" /></a>
					<div class="text-color-opacity pt-2">Источник:</div>
					<div class="text-color-opacity" th:text="${heroClass.book.name}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>