<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title th:text="${'Dnd 5E '+ creature.name}"></title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
</head>
<body>
	<div th:insert="fragments/header :: header(@{/creatures})"></div>
	<div class="container" style="margin-top: 60px">
		<div class="card" th:object="${creature}">
			<h5 class="card-header">
				<span th:text="*{name}"></span><span th:if="*{englishName}" th:text="' ('+ *{englishName} + ')'"></span> <small>
					<span th:text="*{size.cyrilicName}"></span> <span
					th:text="*{type.cyrilicName}"></span> <a
					th:if="*{raceName != null}"
					th:href="@{'/creatures/race/' + *{raceId}}"><span
						th:text="*{raceName}"></span></a>, <span
					th:text="*{alignment.cyrilicName}"></span>
				</small> <a class="card-link"
					th:href="@{'/creatures/creature/classic/' + ${creature.id}}">Классический
					вид</a>
			</h5>
			<div class="card-body">
				<div>
					<b>Класс доспеха</b>
					<th:block th:text="*{AC}" />
					<th:block th:if="${creature.armorType}"
						th:text="*{armorType.cyrillicName}" />
				</div>
				<div>
					<b>Хиты</b> <span th:text="*{averageHp}"></span> (<span
						th:text="*{countDiceHp}"></span><span th:text="*{diceHp}"></span><span
						th:if="${creature.bonusHP != null}"> + <span
						th:text="*{bonusHP}"></span></span>)
				</div>
				<div>
					<b>Скорость</b>
					<th:block th:text="*{speed}" />
					фт.
					<th:block th:if="${creature.flySpeed}">, летая <th:block
							th:text="*{flySpeed}" /> фт.
					<th:block th:if="${creature.climbingSpeed}">, лазая <th:block
								th:text="*{climbingSpeed}"> фт.
					<th:block th:if="${creature.swimmingSpped}" />, плавая <th:block
									th:text="*{swimmingSpped}" /> фт.
					<th:block th:if="${creature.diggingSpeed}" />, плавая <th:block
									th:text="*{diggingSpeed}" /> фт.
				
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<table class="table text-center">
						<thead>
							<tr>
								<th class="text-center" title="Сила">СИЛ</th>
								<th class="text-center" title="Ловкость">ЛОВ</th>
								<th class="text-center" title="Телосложение">ТЕЛ</th>
								<th class="text-center" title="Интелект">ИНТ</th>
								<th class="text-center" title="Мудрость">МДР</th>
								<th class="text-center" title="Харизма">ХАР</th>
							</tr>
						</thead>
						<tr>
							<td th:text="${creature.strengthText()}" />
							<td th:text="${creature.dexterityText()}" />
							<td th:text="${creature.constitutionText()}" />
							<td th:text="${creature.intellectText()}" />
							<td th:text="${creature.wizdomText()}" />
							<td th:text="${creature.charismaText()}" />
						</tr>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div th:if="*{!savingThrows.empty}">
						<b>Спасброски </b><span
							th:each="savingThrow, iterStat : *{savingThrows}"
							th:text="!${iterStat.last} ? ${savingThrow.text} + ', ': ${savingThrow.text}"></span>
					</div>
					<div th:if="*{!skills.empty}">
						<b>Навыки </b><span th:each="skill, iterStat : *{skills}"
							th:text="${iterStat.last} ? ${skill.cyrilicText} : ${skill.cyrilicText} +', '"></span>
					</div>
					<div th:if="*{!vulnerabilityDamages.empty}">
						<b>Уязвимость к урону </b><span
							th:each="vulnerabilityDamage, iterStat : *{vulnerabilityDamages}"
							th:text="${iterStat.last} ? ${vulnerabilityDamage.cyrilicName} : ${vulnerabilityDamage.cyrilicName} + ', '"></span>
					</div>
					<div th:if="*{!resistanceDamages.empty}">
						<b>Сопротивление к урону </b><span
							th:each="resistanceDamages, iterStat : *{resistanceDamages}"
							th:text="${iterStat.last} ? ${resistanceDamages.cyrilicName} : ${resistanceDamages.cyrilicName} + ', '"></span>
					</div>
					<div th:if="*{!immunityDamages.empty}">
						<b>Иммунитет к урону </b><span
							th:each="immunityDamage, iterStat : *{immunityDamages}"
							th:text="${iterStat.last} ? ${immunityDamage.cyrilicName} : ${immunityDamage.cyrilicName} + ', '"></span>
					</div>
					<div th:if="*{!immunityStates.empty}">
						<b>Иммунитет к состоянию </b><span
							th:each="state, iterStat : *{immunityStates}"
							th:text="${iterStat.last} ? ${state.cyrilicName} : ${state.cyrilicName} + ', '"></span>
					</div>
					<div>
						<b>Чувства</b> <span th:text="*{vision}"></span>
					</div>
					<div>
						<b>Языки</b> <span th:each="language, iterStat : *{languages}"
							th:text="${iterStat.last} ? ${language.name} : ${language.name} + ', '">
						</span>
					</div>
					<div>
						<b>Опасность</b> <span th:text="*{challengeRating}"></span> (<span
							th:text="*{exp}"></span> опыта)
					</div>
				</div>
			</div>
			<div th:if="*{!feats.empty}" class="card">
				<div class="card-header">Особенности</div>
				<div class="card-body">
					<div th:each="feat : *{feats}">
						<h5 class="card-title" th:text="${feat.name}"></h5>
						<p th:utext="${feat.description}" />
					</div>
				</div>
			</div>
			<div th:if="${!actions.empty}" class="card">
				<div class="card-header">Действия</div>
				<div class="card-body">
					<div th:each="action : ${actions}">
						<h5 class="card-title" th:text="${action.name}"></h5>
						<p th:utext="${action.description}" />
					</div>
				</div>
			</div>
			<div th:if="${!reactions.empty}" class="card">
				<div class="card-header">Реакции</div>
				<div class="card-body">
					<div th:each="action : ${reactions}">
						<b th:text="${action.name}"></b>
						<div th:utext="${action.description}"></div>
					</div>
				</div>
			</div>
			<div th:if="${!legendary.empty}" class="xard">
				<div class="card-header text-white bg-danger">Легендарные
					действия</div>
				<div class="card-body">
					<div th:if="${creature.legendary}" th:utext="*{legendary}"></div>
					<div th:each="action : ${legendary}">
						<b th:text="${action.name}"></b>
						<div th:utext="${action.description}"></div>
					</div>
				</div>
			</div>
			<div th:if="${creature.description}" class="card">
				<div class="card-header">Описание</div>
				<div class="card-body">
					<p th:utext="*{description}"></p>
				</div>
			</div>
			<div class="card-footer text-muted" th:if="${creature.book}"
				th:text="'Источник: ' + ${creature.book.name}"></div>
			<img class="card-img-bottom"
				th:src="@{'/resources/creatures/'+ ${creature.id} +'.jpg'}"
				align="middle" />
		</div>
	</div>
</body>
</html>