<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Боги и полубоги</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

<style>
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .gods})"></div>
	<div class="container" style="margin-top: 25px">
		<div th:replace="fragments/header :: saf"></div>
		<div id=filter class="collapse" th:classappend="${filtered} ? show">
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="artifactType">Мирровоззрение</label>
						</div>
						<select id="alignmentType" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="alignment : ${alignments}"
								th:value="${alignment}" th:text="${alignment.cyrilicName}"
								th:selected="${aligmentSelected != null && aligmentSelected==alignment}">
							</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="domainType">Домен</label>
						</div>
						<select id="domainType" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="domain : ${domains}" th:value="${domain}"
								th:text="${domain.cyrilicName}"
								th:selected="${domainSelected != null && domainSelected eq domain}" />
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="domainType">Пантеон</label>
						</div>
						<select id="panteonType" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="panteon : ${pantheons}" th:value="${panteon.id}"
								th:text="${panteon.name}"
								th:selected="${panteonSelectedId != null && panteonSelectedId eq panteon.id}" />
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="sexType">Тип</label>
						</div>
						<select id="sexType" class="custom-select" onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="sex : ${sexs}" th:value="${sex}"
								th:text="${sex.cyrilicName}"
								th:selected="${sexSelected != null && sexSelected eq sex}" />
						</select>
					</div>
					<div class="input-group mb-3">
						<a th:if="${filtered}" th:href="@{/gods?clear}" role="button"
							class="btn btn-danger"><img
							th:src="@{/resources/open-iconic/svg/x.svg}"></img>&nbsp;
							Сбросить фильтры</a>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr style="cursor: pointer">
					<th onclick="sortTable(0)" scope="col" style="width: 30%"
						class="text-center">Божество <img
						th:if="${param.sort != null AND param.sort[0] == 'name,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'name,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
					<th class="text-center" onclick="sortTable(1)" scope="col"
						style="width: 3%">Миро<br>воззрение<img
						th:if="${param.sort != null AND param.sort[0] == 'aligment,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'aligment,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
					<th onclick="sortTable(2)" scope="col" style="width: 15%"
						class="text-center">Домены<img
						th:if="${param.sort != null AND param.sort[0] == 'domains,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'domains,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
				</tr>
			</thead>
			<th:block th:each="god : ${gods}">
				<tr data-toggle="collapse" th:attr="data-target='#d'+ ${god.id}">
					<td align="center"><th:block
							th:text="${god.name + ', '+ god.prefixName + ' ' + god.commitment}" /></td>
					<td th:text="${god.aligment.shortName}" class="text-center"
						th:title="${god.aligment.cyrilicName}" />
					<td class="text-center"><th:block
							th:each="domain, iterStat : ${god.domains}"
							th:text="${iterStat.last} ? ${domain.cyrilicName} : ${domain.cyrilicName + ', '}" /></td>
				</tr>
				<tr th:if="${god.description}">
					<td colspan="6" class="hiddenRow">
						<div th:id="'d' + ${god.id}" class="collapse">
							<div class="card">
								<ul th:if="${god.nicknames}" class="list-group list-group-flush">
									<li class="list-group-item"><strong>Титулы:</strong> <th:block
											th:text="${god.nicknames}" /></li>
								</ul>
								<div class="card-body" th:utext="${god.description}"></div>
							</div>
						</div>
					</td>
				</tr>
			</th:block>
		</table>
		<div th:insert="fragments/pages :: pages(${gods}, gods)"></div>
	</div>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script	th:src="@{/webjars/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js}"></script>
	<script th:src="@{/resources/js/settings.js}"></script>
	
	<script>
		function sortTable(n) {
			var baseUrl = '[[@{/gods?}]]';
			var sort = getParameterByName('sort');
			var page = getParameterByName('page');
			var parameters = "";
			if (n == 0) {
				if (sort == 'name,desc') {
					parameters = "sort=name,asc";
				} else {
					parameters = "sort=name,desc";
				}
			}
			if (n == 1) {
				if (sort == 'aligment,desc') {
					parameters = "sort=aligment,asc";
				} else {
					parameters = "sort=aligment,desc";
				}
			}
			if (n == 2) {
				if (sort == 'domains,desc') {
					parameters = "sort=domains,asc";
				} else {
					parameters = "sort=domains,desc";
				}
			}
			location.href = baseUrl + parameters;
		}
		function getParameterByName(name, url) {
			if (!url)
				url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex
					.exec(url);
			if (!results)
				return null;
			if (!results[2])
				return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		function filter(select) {
			var baseUrl = '[[@{/gods?}]]';
			var alignmentType = $("#alignmentType").val();
			var domainType = $("#domainType").val();
			var sexType = $("#sexType").val();
			var panteonType = $("#panteonType").val();
			var sort = getParameterByName('sort');
			var page = getParameterByName('page');
			var parameters = "alignment=" + alignmentType + "&domain="
					+ domainType + "&sex=" + sexType + "&panteonType="
					+ panteonType;
			if (sort != null) {
				parameters += "&sort=" + sort;
			}
			window.location = baseUrl + parameters;
		}
	</script>
</body>
</html>