<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E по-русски</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	    th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

</body>
</head>

<body>
	<div th:insert="fragments/header :: header(~{ :: .spells})"></div>

	<div class="container" style="margin-top: 60px">
		<div class="card-deck">
			<div th:each="place : ${places}" class="card" style="width: 400px">
				<div class="card-body">
					<h4 class="card-title" th:text="${place.name}"></h4>
					<a th:href="@{'/place/'+${place.id}}" class="btn btn-secondary">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>