<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Заклинания</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/css/bootstrap-multiselect.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<style>
img {
	float: center;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
</head>
<body>
	<div th:replace = "fragments/header :: header(~{:: .spells})"></div>
	<div class="container " style="margin-top: 25px">
		<div th:replace = "fragments/header :: saf"></div>
		<div id = "filter" class="collapse" th:classappend="${filtered} ? show">
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="artifactType">Класс</label>
						</div>
						<select id="classType" class="custom-select" multiple>
							<option th:each="type : ${classTypes}" th:value="${type.id}"
								th:text="${type.name}"
								th:selected="${classSelected.contains(type.id)}"></option>
						</select>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="schoolType">Школа</label>
						</div>
						<select id="schoolType" class="custom-select" multiple="multiple">
							<option th:each="school : ${schoolTypes}" th:value="${school}"
								th:text="${school.name}"
								th:selected="${schoolSelected.contains(school)}" />
						</select>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="distanceType">Дистанция</label>
						</div>
						<select id="distanceType" class="custom-select"
							multiple="multiple">
							<option th:each="distance : ${distanceTypes}"
								th:value="${distance}" th:text="${distance}"
								th:selected="${distances.contains(distance)}" />
						</select>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="minLevel">Уровень: </label>
						</div>
						<select id="minLevel" class="custom-select"
							onchange="filterLevel(this)">
							<option value="-1">---</option>
							<option
								th:each="i: ${#numbers.sequence(0, maxLevel.present? maxLevel.get(): 9)}"
								th:text="${i}" th:value="${i}"
								th:selected="${minLevel.present && i==minLevel.get()}" />
						</select>
						<div class="input-group-prepend">
							<label class="input-group-text" for="maxLevel">до</label>
						</div>
						<select id="maxLevel" class="custom-select"
							onchange="filterLevel(this)">
							<option value="-1">---</option>
							<option
								th:each="i: ${#numbers.sequence(minLevel.present? minLevel.get(): 0,9)}"
								th:text="${i}" th:value="${i}"
								th:selected="${maxLevel.present && i==maxLevel.get()}" />
						</select>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="components">Компоненты</label>
							<select id="components" class="custom-select" multiple="multiple">
								<option th:each="component : ${componentNames}"
									th:value="${component}" th:text="${component.name}"
									th:selected="${components.contains(component)}" />
							</select>
						</div>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="timeCast">Время
								создания</label>
						</div>
						<select id="timeCast" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">любое</option>
							<option id="timeCast" th:each="timeCastType : ${timeCastTypes}"
								th:value="${timeCastType}" th:text="${timeCastType.name}"
								th:selected="${timeCast.present && timeCastType==timeCast.get()}" />
						</select>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<label class="input-group-text" for="source">Источник</label>
						</div>
						<select id="sourceBook" class="custom-select" multiple="multiple">
							<option th:each="book : ${books}" th:value="${book.source}"
								th:text="${book.name}"
								th:selected="${selectedBooks.contains(book.source)}" />
						</select>
					</div>
				</div>
			</div>
			<a th:if="${filtered}" th:href="@{/hero/spells?clear}" role="button"
				class="btn btn-danger"><img
				th:src="@{/resources/open-iconic/svg/x.svg}"></img> &nbsp; Сбросить
				фильтры</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr style="cursor: pointer">
					<th onclick="sortTable(0)" scope="col" style="width: 3%"
						class="text-center">Уровень <img
						th:if="${param.sort != null AND param.sort[0] == 'level,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'level,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
					<th onclick="sortTable(1)" scope="col" style="width: 40%">Заклинание
						<img th:if="${param.sort != null AND param.sort[0] == 'name,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'name,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
					<th onclick="sortTable(2)" scope="col" style="width: 20%"
						class="text-center">Школа<img
						th:if="${param.sort != null AND param.sort[0] == 'school,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'school,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
				</tr>
			</thead>
			<tr th:each="spell : ${spells}" style="cursor: pointer"
				th:onclick="'javascript:spellClicked(\'' + ${spell.id} + '\');'">
				<td align="center"><th:block th:text="${spell.level}" /> <img class = "invert"
					th:if="${spell.ritual}"
					th:src="@{/resources/icons/Icon.7_53.png}" th:title="ритуал"
					height="25"></td>
				<td th:title="${spell.englishName}"><th:block
						th:text="${spell.name}"></th:block>&nbsp;<img class = "invert"
					th:if="${spell.concentration}"
					th:src="@{/resources/icons/Icon.5_05.png}"
					th:title="${spell.duration}" height="25" title="требуется концентраци"></td>
				<td class="text-center">
					<div th:insert="fragments/schoolIcon :: schoolIcon(${spell})"></div>
				</td>
			</tr>
		</table>
		<div th:insert="fragments/pages :: pages(${spells}, spells)"></div>
	</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-multiselect.js}"></script>

<script type="text/javascript">
    var changed = false;
	$(document).ready(function() {
		$('#schoolType').multiselect({
			buttonWidth : '250px',
			enableFiltering : true,
			includeSelectAllOption : true,
			selectAllJustVisible : false,
			selectAllText : 'Все классы',
			nSelectedText : ' - выбрано',
			allSelectedText : "Все школы магии",
			nonSelectedText : 'школы магии не выбраны',
            onSelectAll: function() {
                changed = true;
            },
            onChange: function(option, checked, select) {
                changed = true;
            },
			onDropdownHide : function(event) {
				if (changed)
				    filter(this);
				changed = false;
			}
		});
		$('#classType').multiselect({
			allSelectedText : "Все классы",
			buttonWidth : '250px',
			enableFiltering : true,
			includeSelectAllOption : true,
			selectAllJustVisible : false,
			selectAllText : 'Все',
			nSelectedText : ' - выбрано',
			nonSelectedText : 'классы не выбраны',
            onSelectAll: function() {
                changed = true;
            },
            onChange: function(option, checked, select) {
                changed = true;
            },
			onDropdownHide : function(event) {
                if (changed)
                    filter(this);
                changed = false;
			}
		});
		$('#components').multiselect({
			buttonWidth : '200px',
			selectAllText : 'Все компонетны ',
			nonSelectedText : 'комбинация компонентов',
            onSelectAll: function() {
                changed = true;
            },
            onChange: function(option, checked, select) {
                changed = true;
            },
            onDropdownHide : function(event) {
                if (changed)
                    filter(this);
                changed = false;
			}
		});
		$('#distanceType').multiselect({
			buttonWidth : '300px',
			maxHeight : 200,
			includeSelectAllOption : true,
			enableFiltering : true,
			selectAllText : 'Любая дистанция ',
			nonSelectedText : 'Любая дистанция',
	        nSelectedText : ' - выбрано',
            onSelectAll: function() {
                changed = true;
            },
            onChange: function(option, checked, select) {
                changed = true;
            },
			onDropdownHide : function(event) {
				if(changed) {
			      var baseUrl = '[[@{/hero/spells?}]]';
			      var sort = getParameterByName('sort');
			      var distance = $("#distanceType").val();
			      var parameters = "distance=" + distance;
				  if (sort != null) {
					  parameters += "&sort=" + sort;
				  }
				  window.location = baseUrl + parameters;
			    }
                changed = false;
			}
        });
		$('#sourceBook').multiselect({
			buttonWidth : '300px',
			includeSelectAllOption : true,
	        nSelectedText : ' - выбрано',
	        allSelectedText : "Все источники",
			selectAllText : 'Все источники',
			nonSelectedText : 'Выберите источник',
	        onSelectAll: function() {
                changed = true;
	        },
            onChange: function(option, checked, select) {
            	changed = true;
            },
			onDropdownHide : function(event) {
				if (changed)
				    filterSource(this);
				changed = false;
			}
		});
	});
</script>
<script>
	function sortTable(n) {
		var baseUrl = '[[@{/hero/spells?}]]';
		var sort = getParameterByName('sort');
		var page = getParameterByName('page');
		var parameters = "";
		if (n == 0) {
			if (sort == 'level,desc') {
				parameters = "sort=level,asc";
			} else {
				parameters = "sort=level,desc";
			}
		}
		if (n == 1) {
			if (sort == 'name,desc') {
				parameters = "sort=name,asc";
			} else {
				parameters = "sort=name,desc";
			}
		}
		if (n == 2) {
			if (sort == 'school,desc') {
				parameters = "sort=school,asc";
			} else {
				parameters = "sort=school,desc";
			}
		}
		var type = getParameterByName('classType');
		if (type != null) {
			parameters += "&classType=" + type;
		}
		var school = getParameterByName('schoolType');
		if (school != null) {
			parameters += "&schoolType=" + school;
		}
		location.href = baseUrl + parameters;
	}

	function getParameterByName(name, url) {
		if (!url)
			url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex
				.exec(url);
		if (!results)
			return null;
		if (!results[2])
			return '';
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	function spellClicked(value) {
		var baseUrl = '[[@{/hero/spells/spell/}]]';
		location.href = baseUrl + value;
	}

	function filterLevel(select) {
		var baseUrl = '[[@{/hero/spells?}]]';
		var minLevel = $("#minLevel").val();
		var maxLevel = $("#maxLevel").val();
		var parameters = "minLevel=" + minLevel + "&maxLevel=" + maxLevel;
	    var sort = getParameterByName('sort');
		if (sort != null) {
			parameters += "&sort=" + sort;
		}
		window.location = baseUrl + parameters;
	}

	function filter(select) {
		var baseUrl = '[[@{/hero/spells?}]]';
		var type = $("#classType").val();
		var schoolType = $("#schoolType").val();
		var timeCast = $("#timeCast").val();
		var components = $("#components").val();
		var parameters = "classType=" + type + "&schoolType=" + schoolType
				+ "&timeCast=" + timeCast + "&components=" + components;
	    var sort = getParameterByName('sort');
		if (sort != null) {
			parameters += "&sort=" + sort;
		}
	    window.location = baseUrl + parameters;
	}

	function filterSource(select) {
		var baseUrl = '[[@{/hero/spells?}]]';
		var source = $("#sourceBook").val();
		var parameters = "source=" + source;
	    var sort = getParameterByName('sort');
		if (sort != null) {
			parameters += "&sort=" + sort;
		}
		window.location = baseUrl + parameters;
	}
</script>
</body>
</html>