<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${spell.name}"></title>
<style>
img {
	float: center;
}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
</style>
</head>
<body>
	<div class="container" style="margin-top: 25px" layout:fragment="content">
		<div class="card" th:object="${spell}">
			<h5 class="card-header">
				<span th:text="*{name}"> </span> (<span th:text="*{englishName}"></span>)
			</h5>
			<div class="card-body">
				<div class="d-flex w-100 justify-content-between">
					<p>
						<th:block th:text="(${spell.level}!=0) ? ${spell.level} + ' уровень' : 'Заговор'" />
						,
						<th:block th:text="*{school.name}" />
						<th:block th:text="${spell.ritual != null && spell.ritual} ? ' (ритуал)' : '' " />
						<th:block th:insert="fragments/schoolIcon :: schoolIcon(${spell})" />
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>Время накладывания:</strong> <th:block th:text="*{timeCast}" /></li>
					<li class="list-group-item"><strong>Дистанция:</strong> <th:block th:text="*{distance}" /></li>
					<li class="list-group-item"><strong>Компоненты:</strong> <img class="invert" data-toggle="tooltip" data-placement="top" th:if="${spell.verbalComponent}"
						title="Вербальный - Большинство заклинаний требуют произношения таинственных слов. Сами по себе слова не являются источником силы заклинания; просто комбинация звуков с особой тональностью вызывает резонанс в прядях магии, приводя их в движение. Таким образом, персонаж с кляпом во рту или в области заклинания тишина, не может активировать заклинания с вербальным компонентом."
						th:src="@{/resources/icons/Icon.1_74.png}" height="25"
					/> <img class="invert" data-toggle="tooltip" data-placement="top" th:if="${spell.somaticComponent}"
						title="Cоматический - Заклинание может требовать энергичной жестикуляции или замысловатой последовательности телодвижений. Если у заклинания есть соматический компонент, у заклинателя должна быть свободной хотя бы одна рука для исполнения этих жестов."
						th:src="@{/resources/icons/Icon.4_52.png}" height="25"
					/> <img class="invert" data-toggle="tooltip" data-placement="top" th:if="${spell.materialComponent}"
						title="Mатериальный - У заклинателя должна быть одна свободная рука для доступа к материальным компонентам, но это может быть та же самая рука, что используется для выполнения соматического компонента. Персонаж может использовать мешочек с компонентами или заклинательную фокусировку вместо указанных компонентов. Однако, если для компонента указана цена, у персонажа для накладывания заклинания должен быть именно такой компонент."
						th:src="@{/resources/icons/Icon.6_37.png}" height="25"
					/></li>
					<li th:if="${spell.additionalMaterialComponent}" class="list-group-item"><strong>Материальные компоненты:</strong> <th:block th:text="${spell.additionalMaterialComponent}" /></li>
					<li class="list-group-item"><strong>Длительность:</strong> <th:block th:text="*{duration}" /></li>
				</ul>
				<p />
				<h5 class="card-title">Описание заклинания</h5>
				<div class="panel-body">
					<p th:utext="*{description}"></p>
				</div>
				<div class="card border-warning" th:if="${spell.upperLevel}">
					<div class="card-body">
						<h5 class="card-title">На более высоких уровнях</h5>
						<p th:text="*{upperLevel}"></p>
					</div>
				</div>
				<h5>Заклинание доступно классам:</h5>
				<p>
					<a th:each="hero : *{heroClass}" th:href="@{|/hero/classes/class/${hero.id}|}"> <img data-toggle="tooltip" data-placement="top" th:src="@{|/resources/classes/${hero.id}.png|}"
						th:title="${hero.name}" height="60" width="60"
					/>
					</a>
				</p>
			</div>
			<footer class="blockquote-footer">
				<small class="text-muted" th:if="${spell.book}" th:text="'Источник: ' + ${spell.book.name}"></small>
			</footer>
		</div>
	</div>
</body>
</html>