<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<head>
<style>
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
<title>DnD 5E Дикая магия</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/css/bootstrap-multiselect.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .backgrounds})"></div>
	<div class="container" style="margin-top: 25px">
		<div class="card">
			<div class="card-body">
				<p class="card-text" th:if="${wildMagic}"
					th:utext="${wildMagic.description}"></p>
			</div>
			<a class="btn btn-secondary" th:href="@{/calc/wildMagic}" id="dropdownMenuLink">Еще
				дикой магии</a>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap-multiselect.js}"></script>
</body>
</html>