<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/js-layout}">
<head>
<title>Дикая магия</title>
</head>
<body>
	<div class="container p-5" style="margin-top: 25px" layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<p class="card-text" th:if="${wildMagic}" th:utext="${wildMagic.description}"></p>
			</div>
			<a class="btn btn-secondary" th:href="@{/calc/wildMagic}" id="dropdownMenuLink">Еще дикой магии</a>
		</div>
	</div>
</body>
</html>