<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Магические предметы</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<style>
img {
	float: center;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
</style>
</head>

<body>
	<div th:insert="fragments/header :: header(~{ :: .artifactes})"></div>
	<div class="container" style="margin-top: 25px">
		<div th:replace="fragments/header :: saf"></div>
		<div id=filter class="collapse" th:classappend="${filtered} ? show">
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="artifactType">Тип</label>
						</div>
						<select id="artifactType" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="type : ${artifactTypes}" th:value="${type}"
								th:text="${type.cyrilicName}"
								th:selected="${typeSelected.present && type==typeSelected.get()}">
							</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="rarityType">Редкость</label>
						</div>
						<select id="rarityType" class="custom-select"
							onchange="filter(this)">
							<option value="ALL">все</option>
							<option th:each="rarity : ${rarityTypes}" th:value="${rarity}"
								th:text="${rarity.cyrilicName}"
								th:selected="${raritySelected.present && rarity==raritySelected.get()}" />
						</select>
					</div>
					<div class="input-group mb-3">
						<a th:if="${filtered}" th:href="@{/stock/artifacts?clear}"
							role="button" class="btn btn-danger"><img
							th:src="@{/resources/open-iconic/svg/x.svg}"></img> &nbsp;
							Сбросить фильтры</a>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr style="cursor: pointer">
					<th onclick="sortTable(0)" scope="col">Наименование<img
						th:if="${param.sort != null AND param.sort[0] == 'name,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'name,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
					<th onclick="sortTable(1)" scope="col" class="text-center">Редкость<img
						th:if="${param.sort != null AND param.sort[0] == 'rarity,asc'}"
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"> <img
						th:if="${param.sort != null AND param.sort[0] == 'rarity,desc'}"
						th:src="@{/resources/open-iconic/svg/caret-top.svg}">
					</th>
				</tr>
			</thead>
			<th:block th:each="artifact : ${artifacts}">
				<tr data-toggle="collapse"
					th:attr="data-target='#d'+ ${artifact.id}">
					<td><img class="invert"
						th:if="${artifact.type.name() eq 'POTION'}"
						th:src="@{/resources/icons/Icon.4_92.png}" height="25" width="25"
						title="волшебное зелье"> <img class="invert"
						th:if="${artifact.type.name() eq 'MELE_WEAPON'}"
						th:src="@{/resources/icons/Icon.6_98.png}" height="25" width="25"
						title="рукопашное оружие"> <img class="invert"
						th:if="${artifact.type.name() eq 'WAND'}"
						th:src="@{/resources/icons/Icon.3_03.png}" height="25" width="25"
						title="волшебная палочка"> <img class="invert"
						th:if="${artifact.type.name() eq 'RANGED_WEAPON'}"
						th:src="@{/resources/icons/Icon.4_60.png}" height="25" width="25"
						title="дальнобойное оружие"> <img class="invert"
						th:if="${artifact.type.name() eq 'AMMUNITION'}"
						th:src="@{/resources/icons/Icon.4_73.png}" height="25" width="25"
						title="аммуниция"> <img class="invert"
						th:if="${artifact.type.name() eq 'ARMOR'}"
						th:src="@{/resources/icons/Icon.6_94.png}" height="25" width="25"
						title="доспех"> <img class="invert"
						th:if="${artifact.type.name() eq 'SHIELD'}"
						th:src="@{/resources/icons/Icon.1_88.png}" height="25" width="25"
						title="щит"> <img class="invert"
						th:if="${artifact.type.name() eq 'SCROLL'}"
						th:src="@{/resources/icons/Icon.5_85.png}" height="25" width="25">
						<img class="invert" th:if="${artifact.type.name() eq 'ROD'}"
						th:src="@{/resources/icons/Icon.7_93.png}" height="25" width="25"
						title="жезл"> <img class="invert"
						th:if="${artifact.type.name() eq 'STAFF'}"
						th:src="@{/resources/icons/Icon.7_33.png}" height="25" width="25"
						title="посох"> <img class="invert"
						th:if="${artifact.type.name() eq 'RING'}"
						th:src="@{/resources/icons/Icons8_71.png}" height="25" width="25"
						title="кольцо"> <th:block
							th:text="${#strings.toUpperCase(artifact.name)}"></th:block> <img
						class="invert" th:if="${artifact.customization}"
						th:src="@{/resources/icons/Icon.3_89.png}"
						title="Требуется настройка" height="25" width="25"> <a
						th:each="hero : ${artifact.custClasses}"
						th:href="@{'/hero/classes/class/' + ${hero.id}}"> <img
							th:src="@{'/resources/classes/' + ${hero.id}+ '.png'}"
							th:title="${hero.name}" height="30" width="30" />
					</a></td>
					<td class="text-center"><img class="invert"
						th:if="${artifact.rarity.ordinal() > 0}"
						th:each="i: ${#numbers.sequence(1, artifact.rarity.ordinal())}"
						th:src="@{/resources/icons/Icon.7_39.png}"
						th:title="${artifact.rarity.cyrilicName}" height="25" width="25"></td>
				</tr>
				<tr>
					<td colspan="6" class="hiddenRow">
						<div th:id="'d' + ${artifact.id}" class="collapse">
							<div class="card">
								<div class="card-body">
									<h4 align="center" class="card-title"
										th:text="${artifact.rarity.cyrilicName} + ' магический предмет'"></h4>
									<h6 align="center" class="card-title"
										th:if="${artifact.customization}">Требуется настройка на
										предмет</h6>
									<p th:utext="${artifact.description}"></p>
									<p class="text-center">
										Базовая цена: <span th:text="${artifact.cost}"></span><img
											th:alt="зм" th:src="@{'/resources/currency/GM.png'}"
											height="25" th:title="зм" />
									</p>
								</div>
								<footer class="blockquote-footer" th:if="${artifact.book}"
									th:text="'Источник: ' + ${artifact.book.name}"> </footer>
							</div>
						</div>
					</td>
				</tr>
			</th:block>
		</table>
		<div th:insert="fragments/pages :: pages(${artifacts}, artifacts)"></div>
	</div>
	<script>
		function rowClicked(value) {
			var baseUrl = '[[@{/stock/artifacts/artifact/}]]';
			location.href = baseUrl + value;
		}
		function sortTable(n) {
			var baseUrl = '[[@{/stock/artifacts?}]]';
			var sort = getParameterByName('sort');
			var page = getParameterByName('page');
			var parameters = "";
			if (n == 0) {
				if (sort == 'name,desc') {
					parameters = "sort=name,asc";
				} else {
					parameters = "sort=name,desc";
				}
			}
			if (n == 1) {
				if (sort == 'rarity,desc') {
					parameters = "sort=rarity,asc";
				} else {
					parameters = "sort=rarity,desc";
				}
			}
			var type = getParameterByName('type');
			if (type != null) {
				parameters += "&type=" + type;
			}
			var rarity = getParameterByName('rarity');
			if (rarity != null) {
				parameters += "&rarity=" + rarity;
			}
			location.href = baseUrl + parameters;
		}

		function getParameterByName(name, url) {
			if (!url)
				url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex
					.exec(url);
			if (!results)
				return null;
			if (!results[2])
				return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		function filter(select) {
			var baseUrl = '[[@{/stock/artifacts?}]]';
			var type = $("#artifactType").val();
			var rarity = $("#rarityType").val();
			var sort = getParameterByName('sort');
			var page = getParameterByName('page');
			var parameters = "type=" + type + "&rarity=" + rarity;
			if (sort != null) {
				parameters += "&sort=" + sort;
			}
			window.location = baseUrl + parameters;
		}
	</script>
</body>
</html>