<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${magicThing.name}"></title>
</head>
<body>
	<div class="container pb-5 pt-5" layout:fragment="content">
		<div class= "pt-3" th:object="${magicThing}">
			<div class="main-header"><span th:text="*{name}"></span> <small class="text-secondary" th:text="|(*{englishName})|"></small></div>
			<hr class ="line1" align="center" size="5" color="#822000" />
			<div>
				<em th:text="*{type.cyrilicName}"> <span th:text="${#strings.listJoin(magicThing.weapons, ',')}"></span></em>, <em th:text="*{rarity.cyrilicName}"> </em><em th:if="*{customization}">
					(требуется настройка<span th:if="*{custSpecial}" th:text="| *{custSpecial}|"></span><span th:each="custclass : *{custClasses}" th:text="${' ' + #strings.toLowerCase(custclass.name) + 'ом'}"></span>)
				</em>
				<p th:utext="*{description}">
			</div>
			<footer class="blockquote-footer">
				<small class="text-muted" th:if="*{book}" th:text="|Источник:*{book.name}|"></small>
			</footer>
		</div>
	</div>
</body>
</html>