<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/datatables/1.10.23/css/dataTables.bootstrap4.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/searchPanes/searchPanes.bootstrap4.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/select/select.dataTables.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/buttons/buttons.bootstrap4.min.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<link rel="stylesheet" th:href="@{/resources/css/custom.bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/css/custom.datatables.css}" />

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/settings.js}"></script>
<script th:src="@{/webjars/datatables/1.10.23/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.23/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/searchPanes/dataTables.searchPanes.js}"></script>
<script th:src="@{/resources/js/searchPanes/searchPanes.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/select/dataTables.select.min.js}"></script>
<script th:src="@{/resources/js/buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/resources/js/buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/buttons/buttons.colVis.min.js}"></script>
<script src="/resources/js/jquery.spring-friendly.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TCB6BLK8NT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TCB6BLK8NT');
</script>
</head>
<body>
	<div id="header" th:insert="fragments/header :: header"></div>
	<div class="container-fluid" layout:fragment="content">
	</div>
	<script th:src="@{/resources/js/settings.js}"></script>
	<script layout:fragment="datatable"></script>
</body>
</html>