<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DnD 5E</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/dataTables.bootstrap4.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/searchPanes/searchPanes.bootstrap4.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/select/select.dataTables.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/buttons/buttons.bootstrap4.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/settings.js}"></script>
<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/resources/js/datatables/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/searchPanes/dataTables.searchPanes.js}"></script>
<script th:src="@{/resources/js/searchPanes/searchPanes.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/select/dataTables.select.min.js}"></script>
<script th:src="@{/resources/js/buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/resources/js/buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/resources/js/buttons/buttons.colVis.min.js}"></script>
<script src="/resources/js/jquery.spring-friendly.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div layout:fragment="content">
		<h1>Добавь контент</h1>
	</div>
	<footer th:insert="fragments/footer :: footer" class="footer">Это подвал, он же футтер, он же Гога</footer>
	<script th:src="@{/resources/js/settings.js}"></script>
	<script layout:fragment="datatable"></script>
</body>
</html>