<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<title>Dnd 5E Артифакты</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .artifactes})"></div>
	<div class="container" th:object="${artifact}" style="margin-top: 60px">
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:text="*{name}"></span>
					
						<span
							th:text="(${spell.level}!=0) ? ${spell.level} + ' уровень' : 'Заговор'"></span>,
						<span th:text="*{school.name}"></span>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-body">
					<p>
						<b>Редкость:</b> <span th:text="*{rarity.cyrilicName}"></span>
					</p>
					<p>
						<b>Тип:</b> <span th:text="*{type.cyrilicName}"></span>
					</p>
				</div>
			</div>
			<div class="panel panel-warning" th:if="*{customization != null}">
				<div class="panel-body">
					<span class="glyphicon glyphicon-wrench"> Требуется
						настройка</span>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Описание:</div>
				<div class="panel-body">
					<p>
						<span th:utext="*{description}"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>