<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Монстры</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .creatures})"></div>
	<div class="container" style="margin-top: 50px">
		<table class="table table-striped">
			<thead>
				<tr style="cursor: pointer">
					<th onclick="sortTable(0)" scope="col" style="width: 3%">CR <span
						th:if="${order==0 && dir=='asc'}"
						class="glyphicon glyphicon-arrow-down"></span> <span
						th:if="${order==0 && dir=='desc'}"
						class="glyphicon glyphicon-arrow-up"></span>
					</th>
					<th onclick="sortTable(1)" scope="col">Наименование <span
						th:if="${order==1 && dir=='asc'}"
						class="glyphicon glyphicon-arrow-down"></span> <span
						th:if="${order==1 && dir=='desc'}"
						class="glyphicon glyphicon-arrow-up"></span>

					</th>
					<th onclick="sortTable(2)" scope="col">Вид <span
						th:if="${order==2 && dir=='asc'}"
						class="glyphicon glyphicon-arrow-down"></span> <span
						th:if="${order==2 && dir=='desc'}"
						class="glyphicon glyphicon-arrow-up"></span>

					</th>
				</tr>
			</thead>
			<tr th:each="creature : ${creatures}" style="cursor: pointer"
				th:onclick="'javascript:rowClicked(\'' + ${creature.id} + '\');'">
				<td th:text="${creature.challengeRating}" />
				<td th:text="${creature.name}" />
				<td th:text="${creature.type.cyrilicName}" />
			</tr>
		</table>
	</div>
</body>
<script>
	function sortTable(n) {
		var baseUrl = '[[@{/creatures}]]';
		var order = getParameterByName('order');
		var dir = getParameterByName('dir');
		if(dir == 'desc' && order==n){
			location.href = baseUrl + "?order=" + n + "&dir=asc";	
		}
		else {
			location.href = baseUrl + "?order=" + n + "&dir=desc";
		}
	}
	
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, "\\$&");
	    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
</script>
<script>
	function rowClicked(value) {
		var baseUrl = '[[@{/creatures/creature/}]]';
		location.href = baseUrl + value;
	}
</script>
</html>