<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title th:text = "${'Dnd 5E '+ feat.name}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header(@{/feats})"></div>
	<div class="container" style="margin-top:60px">
		<div class="panel-group" th:object="${feat}">
			<div class="panel panel-primary" >
				<div class="panel-heading">
					<span th:text="*{name}"> </span>
				</div>
			</div>
			<div class="panel panel-danger" th:if="*{prerequisites}">
				<div class="panel-heading">Требования:</div>
				<div class="panel-body">
					<p>
						<span th:text="*{prerequisites}"> </span>
					</p>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">Описание черты</div>
				<div class="panel-body" th:object="${feat}">
					<p>
						<span th:utext="*{description}"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>