<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E по русски</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/resources/icon.png}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .spells})"></div>

	<div class="container" style="margin-top: 60px">
		<div class="list-group">
			<a href="#" class="list-group-item active"> Стихийные планы </a> <a
				href="#" class="list-group-item">План земли</a> <a href="#"
				class="list-group-item">План воды</a> <a href="#"
				class="list-group-item">План огня</a> <a href="#"
				class="list-group-item">План воздуха</a>
		</div>

		<div class="list-group">
			<a href="#" class="list-group-item active"> Внешние планы </a> <a
				href="#" class="list-group-item">Гора Целестия, Семь Небес</a> <a
				href="#" class="list-group-item">Битопия, Двойной рай</a> <a
				href="#" class="list-group-item">Элизиум, Благословенные Поля</a> <a
				href="#" class="list-group-item">Арборея, Олимпийские просторы</a> <a
				href="#" class="list-group-item">Асгард, Героические владения</a> <a
				href="#" class="list-group-item">Лимбо, Вечно бурлящий хаос</a> <a
				href="#" class="list-group-item">Пандемониум, Завывающие Глубины</a>
			<a href="#" class="list-group-item">Бездны, Бесконечные слои</a> <a
				href="#" class="list-group-item">Карцери, Забытые Преисподние</a> <a
				href="#" class="list-group-item">Гадес, Серые Пустоши</a> <a
				href="#" class="list-group-item">Геенна, Мрачная вечность</a> <a
				href="#" class="list-group-item">Девять Преисподних (Баатора)</a> <a
				href="#" class="list-group-item">Ахерон, Бесконечные поля битв</a> <a
				href="#" class="list-group-item">Механус, Механическая нирвана</a> <a
				href="#" class="list-group-item">Аркадия, Мирные Королевства</a>
		</div>
	</div>
</body>
</html>