<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<head>
<title>Состояния</title>
<style>
img {
	float: center;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}

td.details-control {
	background: url('/resources/open-iconic/svg/plus.svg') no-repeat center
		center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('/resources/open-iconic/svg/minus.svg') no-repeat center
		center;
}
</style>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-lg-10 mt-3 mb-3">
				<table id="conditions" class="table table-hover table-sm" style="width: 100%">
					<thead>
						<tr>
							<th>Тип</th>
							<th>Состояния</th>
							<th>English</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script layout:fragment="datatable">
		$(document)
				.ready(
						function() {
							$('a.toggle-vis').on(
									'click',
									function(e) {
										e.preventDefault();
										var column = table.column($(this).attr(
												'data-column'));
										column.visible(!column.visible());
									});
							$('#conditions').one(
									'preXhr.dt',
									function(e, settings, data) {
										data.searchPanes = {};
										data.searchPanes["type.0"] =  'Состояние';
									})
							var table = $('#conditions')
									.DataTable(
											{
												paging : false,
												searchPanes : true,
												dom : 'Bfrtip',
												processing : true,
												serverSide : true,
												ajax : '/conditions',
												columns : [
														{
															data : 'type',
															width : "1%",
														},
														{
															data : "name",
															width : "20%",
															render : function(
																	data, type,
																	row) {
																if (type === 'display') {
																	return '<h6>'
																			+ data
																			+ ' <small class="text-secondary">('
																			+ row.englishName
																			+ ')</small><h6>';
																}
																return data;
															},
														},
														{
															data : 'englishName',
															width : "1%",
															orderable : true,
														},
														{
															className : 'details-control',
															searchable : false,
															orderable : false,
															defaultContent : '',
															width : "1%"
														}, ],
												columnDefs : [
														{
															searchPanes : {
																preSelect : [ 'Состояние' ],
															},
															"targets" : [ 0 ],
															"visible" : false,
														}, {
															"targets" : [ 2 ],
															"visible" : false,
														}, ],
												buttons : [
														'searchPanes',
														{
															extend : 'colvis',
															text : 'Столбцы',
															buttons : [
																	{
																		text : 'Тип',
																		action : function(
																				e,
																				dt,
																				node,
																				config) {
																			dt
																					.column(
																							0)
																					.visible(
																							!dt
																									.column(
																											0)
																									.visible());
																		}
																	}, ],
														} ],
												language : {
													processing : "Загрузка...",
													search : "Поиск",
													lengthMenu : "Показывать _MENU_ записей на странице",
													zeroRecords : "Ничего не найдено",
													info : "Показано с _START_ до _END_ из _TOTAL_",
													infoEmpty : "Нет доступных записей",
													infoFiltered : "(filtered from _MAX_ всего)",
													paginate : {
														first : "В начало",
														previous : "Предыдущая",
														next : "Следущая",
														last : "В конец"
													},
													searchPanes : {
														clearMessage : "Сбросить",
														title : {
															_ : 'Отфильтровано - %d',
															0 : 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
															1 : 'Один фильтр выбран',
														},
														collapse : 'Фильтры (%d)'
													}
												},
												ordering : true,
											});
							$('#conditions tbody').on('click','tr',	function() {
										var tr = $(this).closest('tr');
										var row = table.row(tr);

										if (row.child.isShown()) {
											row.child.hide();
											tr.removeClass('shown');
										} else {
											row.child(format(row.data()))
													.show();
											tr.addClass('shown');
										}
									});
						});
		function format(d) {
			return d.description;
		}
	</script>
</body>
</html>