<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<title>DnD 5E Снаряжение</title>
<style>
img {
	float: center;
}
td.details-control {
	background: url('/resources/open-iconic/svg/plus.svg') no-repeat center
		center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('/resources/open-iconic/svg/minus.svg') no-repeat center
		center;
}
</style>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-lg-10 mt-3 mb-3">
				<table id="example" class="table table-hover table-sm" style="width: 100%">
					<thead>
						<tr>
							<th>Снаряжение</th>
							<th>Стоимость</th>
 							<th title="Вес в фунтах">Вес</th> 
 							<th>Категория</th> 
							<th>Источник</th>
							<th>EnglishName</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
	
		var table = $('#example').DataTable( {
			iDisplayLength : 25,
	        dom: 'Bfrtip',
			processing : true,
	        serverSide : true,
			ajax : '/equipments',
			columns : [
						{
							data : "name",
							width : "33%", 
							render : function(data, type, row) {
								if (type === 'display') {
									return '<h6>' + data + '</h6>';
								}
								return data;
							}, 
						},
						{
							data : "cost",
							width : "10%",
						    className: "text-right",
						},
						{
							data : "weight",
							width : "5%",
						    searchable: false,
						    className: "text-right",
						},
						{
							data : "type",
							width : "25%",
						    searchable: false,
						},
						{
							data : "englishName",
							width : "10%",
						},
						{
							data : "book",
							width : "10%",
						    searchable: false,
						},
						{
							className : 'details-control',
						    searchable: false,
						    orderable: false,
							defaultContent : '',
							width : "1%"
						},
					],
					columnDefs : [
			            {
			                targets : [3],
			                visible : false
			            },
			            {
			                targets : [4],
			                visible : false
			            },
			            {
			                targets : [5],
			                visible : false
			            },
				    ],
				    buttons: [
			        	'searchPanes',
			            {
			        		extend: 'colvis',
			                text: 'Столбцы',
			                buttons: [
			                    {
			                        text: 'Категория',
			                        action: function ( e, dt, node, config ) {
			                            dt.column( 3 ).visible( ! dt.column( 3 ).visible() );
			                        }
			                    },
			                    {
			                        text: 'Источник',
			                        action: function ( e, dt, node, config ) {
			                            dt.column( 5 ).visible( ! dt.column( 5 ).visible() );
			                        }
			                    },
			                ]
			            }
			        ],
					language : {
						processing : "Загрузка...",
						search : "Поиск",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано с _START_ до _END_ из _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "(filtered from _MAX_ всего)",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        },
					},
					ordering : true,
				});
	$('#example tbody').on('click', 'tr', function () {
    	var tr = $(this).closest('tr');
    	var row = table.row( tr );
	    if ( row.child.isShown() ) {
        	row.child.hide();
        	tr.removeClass('shown');
    	}
    	else {
	        row.child( format(row.data()) ).show();
        	tr.addClass('shown');
    	}
		});
	});
	function format ( d ) {
		return d.description + '<p class="text-right font-weight-light"><small>Источник: '+ d.book + '</small></p>'; 
	}
	</script>
</body>
</html>