<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<style>
</style>
<title>Боги</title>
<style>
p.text-justify {
    text-indent: 15px; 
}
</style>
</head>
<body>
	<table id="example" class="table table-hover table-sm  color-main-bg-500" layout:fragment="content">
		<thead>
			<tr>
				<th>Божество</th>
				<th title="Мировоззрение">М</th>
				<th>English</th>
				<th>Домены</th>
				<th>Тип</th>
				<th>Титулы</th>
				<th>Ранг</th>
				<th>Пантеон</th>
			</tr>
		</thead>
	</table>
	<script layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
	
		var table = $('#example').DataTable( {
	        dom: '<"top"<"left-col"f><"right-col"B>>rti',
	        serverSide : true,
			ajax : '/gods',
	        scrollY: "65vh",
	        scrollCollapse: true,
	        scroller: true,
	        paging: false,
	        select: {
	            style: 'single'
	        },
	        autoWidth: false,
			columns : [
						{
							data : "name",
							width : "30%", 
							render : function(data, type, row) {
								if (type === 'display') {
									return '<h6>' + data + (row.englishName ? '<small> (' + row.englishName + ')</small>' : '') + '</h6> ' + '<div class="text-secondary">' + row.sex + ' ' + row.commitment + '</div>';
								}
								return data;
							}, 
						},
						{
							data : "aligment",
							width : "5%",
						    className: "text-center",
						},
						{
							data : "englishName",
							width : "10%",
						}, 
						{
							data : "domains",
							width : "10%",
						    searchable: false,
						    className: "text-center",
						}, 
						{
							data : "sex",
							width : "3%",
						    searchable: false,
						    className: "text-center",
						},
						{
							data : "nicknames",
							width : "10%",
						},
						{
							data : "rank",
						    searchable: false,
							width : "15%",
						},
						{
							data : "pantheon",
						    searchable: false,
							width : "15%",
						},
					],
					columnDefs : [
			            {
			                targets : [ 2 ],
			                visible : false
			            },
			            {
			                "targets": [ 3 ],
			                "visible": false
				        },
			            {
			                "targets": [ 4 ],
			                "visible": false
				        },
			            {
			                "targets": [ 5 ],
			                "visible": false
				        },
			            {
			                "targets": [ 6 ],
			                "visible": false
				        },
			            {
			                "targets": [ 7 ],
			                "visible": false
				        },
				    ],
				    buttons: [
			            {
			                extend: 'searchPanes',
			            	className: 'btn-main btn-sm btn-color-main',
			            },
			            {
			        		extend: 'colvis',
			                text: 'Столбцы',
			                className: 'btn-main btn-sm btn-color-main',
			                buttons: [
			                    {
			                        text: 'Домены',
			                        action: function ( e, dt, node, config ) {
			                            dt.column(3).visible(!dt.column(3).visible() );
			                        }
			                    },
			                    {
			                        text: 'Пантеон',
			                        action: function ( e, dt, node, config ) {
			                            dt.column(7).visible(!dt.column(7).visible() );
			                        }
			                    },
			                ]
			            }
			        ],
					language : {
						processing : "Загрузка...",
						search : "Поиск",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано с _START_ до _END_ из _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "(filtered from _MAX_ всего)",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        },
					},
					ordering : true,
				});
	table.on( 'draw.dt', function () {
		if ( table.data().count() === 1) {
			table.row(0).select();
			var tr = $(this).closest('tr');
			var row = table.row( tr );
			var element = document.getElementById("info");
			var englishName = table.row(0).data().englishName ? ' <small class="text-secondary">(' + table.row(0).data().englishName + ')</small>' : '';
			var name = '<h5 class="header">' + table.row(0).data().name + englishName + '</h5>';
			element.innerHTML = name + format(table.row(0).data());
		}
	});
	$('#example tbody').on('click', 'tr', function () {
   			var tr = $(this).closest('tr');
    		var row = table.row( tr );
    		var element = document.getElementById("info");
    		element.innerHTML = name + format(row.data());
		});
	});
	function format ( d ) {
		var name = '<h5 class="main-header">' + d.name;
		if (d.englishName) {
			name+= ' <small class="text-secondary">(' + d.englishName + ')'+'</small></h5>';
		}
		var info = name + '<hr class ="line1"/>';
		info+='<div class="card main-description"><div class="card-body p-0 main-description-text">';
		info += '<p class="mb-1"><strong>Ранг: </strong>' + d.rank + ' ' + d.sex + '</p>';
		if (d.nicknames) {
			info += '<p class="mb-1"><strong>Титулы: </strong>' + d.nicknames + '</p>'; 
		}
		if (d.symbol) {
			info += '<p class="mb-1"><strong>Символ: </strong>' + d.symbol + '</p>';
		}
		info += '<p class="mb-1"><strong>Домены: </strong>' + d.domains + '</p>';
		info += '<p class="mb-1"><strong>Пантеон: </strong>' + d.pantheon + '</p>';
		info += '</div></div>';
		info+='<hr class ="mb-2 mt-1" align="center" size="5" color="#822000" />';
		return info + d.description; 
	}
	</script>
</body>
</html>