<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<title>Заклинания</title>
<style>
div.text-justify {
    text-indent: 15px; 
}
img {
	float: center;
}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
.badge-info {
  background-color: #F0D46C;
}
.badge-success {
  background-color: #9FD8AF;
}
.line1 {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 2px;
       width: 100%;
       max-height: 2;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border-top: 1px solid #E69A28;
       border-bottom: 1px solid #E69A28;
       background-color: #E69A28
}
table.dataTable tbody tr.selected {
  background-color: #F0D0A0;
}
div.container {
	width: 50%;
}
.spellHeader {
	color: #A12000;
}
</style>
</head>
<body>
	<table id="example" class="table table-hover table-sm nowrap color-main-bg-500" layout:fragment="content">
		<thead>
			<tr>
				<th>Школа</th>
				<th title="Уровень заклинания">Уровень</th>
				<th>Классы</th>
				<th>Название</th>
				<th title="Время накладывания">Время</th>
				<th>Длительность</th>
				<th>Дистанция</th>
				<th title="риуал">Р</th>
				<th title="концентрация">К</th>
				<th title="вербальный">В</th>
				<th title="соматический">С</th>
				<th title="материальный">М</th>
				<th>Тип урона</th>
				<th>Источник</th>
				<th>English</th>
				<th>Расходуемые материалы</th>
			</tr>
		</thead>
	</table>
	<script layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
		var table = $('#example').DataTable( {
			stateSave: true,
			dom: '<"top"<"left-col"f><"center-col"B><"right-col"l>>rtip',
			serverSide : true,
			ajax : '/spells',
			deferRender: true,
			scrollY: "65vh",
			scrollХ: "100%",
			scrollCollapse: true,
			scroller: true,
			paging: false,
			select: {
				style: 'single'
	        },
	        autoWidth: false,
			columns : [
						{
							data : "school",
							render : function(data, type) {
								if (type === 'display') {
									var icon = '';
									switch (data) {
									case 'воплощение':
										icon = '<img class="invert" src="/resources/icons/Icon.2_99.png" title="воплощение" height="25">';
										break;
									case 'вызов':
										icon = '<img class="invert" src="/resources/icons/Icon.4_26.png" title="вызов" height="25">';
										break;
									case 'иллюзия':
										icon = '<img class="invert" src="/resources/icons/Icon.1_39.png" title="иллюзия" height="25">';
										break;
									case 'некромантия':
										icon = '<img class="invert" src="/resources/icons/Icon.3_36.png" title="некромантия" height="25">';
										break;
									case 'ограждение':
										icon = '<img class="invert" src="/resources/icons/Icon.2_38.png" title="ограждение" height="25">';
										break;
									case 'очарование':
										icon = '<img class="invert" src="/resources/icons/Icon.2_21.png" title="очарование" height="25">';
										break;
									case 'преобразование':
										icon = '<img class="invert" src="/resources/icons/Icon.7_38.png" title="преобразование" height="25">';
										break;
									case 'прорицание':
										icon = '<img class="invert" src="/resources/icons/Icon.6_22.png" title="прорицание" height="25">';
										break;
									}
									return icon;
								}
								return data;
							},
							width : "1%",
						    className: "text-center"
						}, 
						{
								data : "level",
								width : "1%",
							    className: "text-center"
						}
						,
						{
							data : "heroClass",
							render: {
			                    _: '[, ].name',
			                    sp:'[].name'
			                },
							width : "1%",
						    className: "text-center"
						},
						{
							data : "name",
							width : "20%", 
							render : function(data, type, row) {
								if (type === 'display') {
										var school = '';
										var result = '<h6>' + data + ' <small class="text-secondary">(' + row.englishName + ')';
										if (row.ritual === 'true') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="ритуал" class="badge badge-pill badge badge-success">Р</span>'; 
										}
										if (row.concentration === 'true') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="концентрация" class="badge badge-pill badge-info">К</span>';	
										}
										result+='</small></h6><small>';
										result += '<div class="text-secondary">';
										result += row.school;
										if (row.verbalComponent === '★') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="вербальный" class="badge badge-secondary">В</span>';
										}
										if (row.somaticComponent === '★') {
											result+=' <span data-toggle="tooltip" data-placement="top" title="соматический" class="badge badge-secondary">С</span>';
										}
										if (row.materialComponent === '★') {
											if (row.consumable){
												result+=' <span data-toggle="tooltip" data-placement="top" title="материальный, расходуемый" class="badge badge-dark">М</span>';
											}
											else {
												result+=' <span title="материальный" class="badge badge-secondary">М</span>';	
											}
										}
										result += '</small></div>';
										return result;
									}
									return data;
								}, 
						},
						{
								data : "timeCast",
								width : "1%",
								className: "dt-head-center",
							    className: "dt-body-center",
								render : function(data, type) {
									if (type === 'display') {
										if (data.includes('1 реакция'))
										{
											return '1 реакция';
										}
										return data;
									}
									return data;
								}
						},
						{
							data : "duration",
							width : "1%",
							className: "text-center"
						},
						{
							data : "distance",
							width : "1%",
						    className: "text-center"
						},
						{
							data : "ritual",
							width : "3%",
							className: "dt-head-center",
							className: "dt-body-center",
							render : function(data, type) {
									if (type === 'display') {
										var icon = '';
										switch (data) {
										case 'true':
											icon = '<img class="invert" data-toggle="tooltip" data-placement="top" src="/resources/icons/Icon.7_53.png" title="ритуал" height="25">';
											break;
										}
										return icon;
									}
									return data;
								},
							    searchable: false
						},
						{
							data : "concentration",
							render : function(data, type) {
								if (type === 'display') {
										var icon = '';
										switch (data) {
										case 'true':
											icon = '<img class="invert" data-toggle="tooltip" data-placement="top" src="/resources/icons/Icon.5_05.png" title="концентрация" height="25">';
											break;
										}
										return icon;
									}
									return data;
								},
								width : "2%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "verbalComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "somaticComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "materialComponent",
								width : "1%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : "damageType",
								width : "2%",
								className: "text-center",
								 searchable: false
							},
							{
								data : "book",
								width : "5%",
							    className: "text-center",
							    searchable: false
							},
							{
								data : 'englishName',
								width : "1%",
							    orderable: false,
							},
							{
								data : 'consumable',
								width : "1%",
							    orderable: false,
							    searchable: false,
							},
							],
							columnDefs : [
					            {
					                "targets": [ 0 ],
					                "visible": false
					            },
					            {
					                "targets": [ 2 ],
					                "visible": false
					            },
					            {
					                "targets": [ 4 ],
					                "visible": false
					            },
					            {
					                "targets": [ 5 ],
					                "visible": false
					            },
					            {
					                "targets": [ 6 ],
					                "visible": false
					            },
					            {
					                "targets": [ 7 ],
					                "visible": false
					            },
					            {
					                "targets": [ 8 ],
					                "visible": false
					            },
					            {
					                "targets": [ 9 ],
					                "visible": false
					            },
					            {
					                "targets": [ 10 ],
					                "visible": false
					            },
					            {
					                "targets": [ 11 ],
					                "visible": false
					            },
					            {
					                "targets": [ 12 ],
					                "visible": false
					            },
					            {
					                "targets": [ 13 ],
					                "visible": false
					            },
					            {
					                "targets": [ 14 ],
					                "visible": false
					            },
					            {
					                "targets": [ 15 ],
					                "visible": false
					            },
					        ],
					        buttons: [
					        	'searchPanes',
					            {
					        		extend: 'colvis',
					                text: 'Столбцы',
					                buttons: [
					                    {
					                        text: 'Школа',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 0 ).visible( ! dt.column( 0 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Время',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Длительность',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 5 ).visible( ! dt.column( 5 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Дистанция',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 6 ).visible( ! dt.column( 6 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Ритуал',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 7 ).visible( ! dt.column( 7 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Концентрация',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 8 ).visible( ! dt.column( 8 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Компоненты',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 9 ).visible( ! dt.column( 9 ).visible() );
					                            dt.column( 10 ).visible( ! dt.column( 10 ).visible() );
					                            dt.column( 11 ).visible( ! dt.column( 11 ).visible() );
					                        }
					                    },
					                    {
					                        text: 'Тип урона',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 12 ).visible( ! dt.column( 12 ).visible() );
					                            table.columns.adjust().draw();
					                        }
					                    },
					                    {
					                        text: 'Источник',
					                        action: function ( e, dt, node, config ) {
					                            dt.column( 13 ).visible( ! dt.column( 13 ).visible() );
					                        }
					                    }
					                ]
					            }
					        ],
					order : [(${order})],
					language : {
						processing : "Загрузка...",
						searchPlaceholder: "Поиск ",
						search : "_INPUT_",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "из _MAX_",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        }
					},
					ordering : true,
				});
		table.on( 'draw.dt', function () {
			if ( table.data().count() === 1) {
		    	table.row(0).select();
	    		var tr = $(this).closest('tr');
	    		var row = table.row( tr );
	    		var element = document.getElementById("info");
				var name = '<h5 class="spellHeader">' + table.row(0).data().name + ' <small class="text-secondary">(' + table.row(0).data().englishName + ')'+'</small></h5>';
	    		element.innerHTML = name + format(table.row(0).data());
			}
		});
	$('#example tbody').on('click', 'tr', function () {
    		var tr = $(this).closest('tr');
    		var row = table.row( tr );
    		var element = document.getElementById("info");
			var name = '<h5 class="spellHeader">' + row.data().name + ' <small class="text-secondary">(' + row.data().englishName + ')'+'</small></h5>';
    		element.innerHTML = name + format(row.data());
		});
	});
	function format (d) {
			var info = '<hr class ="line1"/><p class ="mb-2 mt-1"><em>' + d.level; 
			if (d.level != 'Заговор') {
				info += ' уровень'
			}
			if (d.ritual === 'true') {
				info += ' (ритуал)'
			}
			info += ', ' + d.school;
			info += '</em></p>';
			info+='<div class="card m-3"><div class="card-body p-2 rounded">';
			info += '<div><strong>Время накладывания:</strong> '+ d.timeCast + '</div>'+ '<div><strong>Дистанция:</strong> ' + d.distance + '</div>';
            info += '<div><strong>Компоненты:</strong> ';
            if (d.verbalComponent == '★') {
            	info +='В';
            }
            if (d.somaticComponent == '★') {
            	if (d.verbalComponent == '★'){
            		info +=', ';
            	}
            	info +='C';
            }
            if (d.materialComponent == '★') {
            	if (d.somaticComponent == '★' || d.verbalComponent == '★'){
            		info +=', ';
            	}
            	info +='М'; 
            	if (d.components != null){
            		info += ' (' + d.components+')';
            	}
            }
            info += '</div>';
            info += '<div><strong>Длительность:</strong> '  + d.duration;
            info += '</div></div>';
            info += '</div><hr class ="mb-2 mt-1" align="center" size="5" color="#822000" />'; 
            info += d.description;
            info += '</div><hr class ="mb-2 mt-1" align="center" size="5" color="#822000" />';
			 if (d.upperLevel) {
				 info += '<div><strong>На более высоких уровнях:</strong> '+ d.upperLevel + '</div>';
				 info += '<hr class ="mb-2 mt-1" align="center" size="5" color="#822000"/>';
			 }
			 info += '<div class="btn-toolbar mb-3" role="toolbar" aria-label="classes">';
             info += '<strong>Классы:</strong> ';
        	 info += '<div class="btn-group" role="group">';
        	 for (var hclass in d.heroClass){
        		 info += '<a class="btn btn-outline-secondary btn-sm"  href="/hero/classes/class/' + d.heroClass[hclass].id + '">'; 
        		 info += '<img src="/resources/classes/' + d.heroClass[hclass].id + '.png" title="' + d.heroClass[hclass].name + '" height="25" width="25" /> </a>';
        	 }
        	 info+= '</div></div>';
        	 if (d.subClass.length > 0)  {
                 info += '<strong>Подклассы:</strong> ';
            	 info+= '<div class="btn-group" role="group">'
                 for (var sub in d.subClass){
               		 info += '<a class="btn btn-outline-secondary btn-sm"  href="/hero/classes/class/' + d.subClass[sub].classId + '/archetype/'+ d.subClass[sub].architypeId + '">';
               		 info += '<img src="/resources/classes/' + d.subClass[sub].classId + '.png" " height="25" width="25" />';
               		 info += d.subClass[sub].architypeName + '</a> ';
               	 }
               	 info += '</div>';
        	 }
        	 info += '<div class="text-right"><a class="btn btn-outline-dark btn-sm" href="/hero/spells/spell/' + d.id + '">Подробно</a></p>';
			 info += '<div class="text-right font-weight-light"><small>Источник: '+ d.book + '</small></div>'; 
		    return info; 
	}
	</script>
</body>
</html>