<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<title>Черты</title>
<style>
img {
	float: center;
}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
td.details-control {
	background: url('/resources/open-iconic/svg/plus.svg') no-repeat center
		center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('/resources/open-iconic/svg/minus.svg') no-repeat center
		center;
}
</style>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-lg-11 mt-3 mb-3">
				<table id="example" class="table table-hover table-sm" style="width: 100%">
					<thead>
						<tr>
							<th>Черта</th>
							<th>Требование</th>
							<th title="Увеличение характеристик">Хар-ки</th>
							<th title="Получение навыков">Навыки</th>
							<th>Источник</th>
							<th>englishName</th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
		var table = $('#example').DataTable( {
			iDisplayLength : 25,
	        dom: 'Bfrtip',
			processing : true,
	        serverSide : true,
			ajax : '/traits',
			columns : [
						{
							data : "name",
							width : "30%", 
							render : function(data, type, row) {
								if (type === 'display') {
									return '<h6>' + data + (row.englishName ? '<small class="text-secondary"> (' + row.englishName + ')</small>' : '') 
									+ '</h6>' + '<div class="text-secondary"><small>' + row.book + '</small></div>';
								}
								return data;
							}, 
						},
						{
							data : "requirement",
							width : "15%"
						},
						{
							data : "abilities",
							width : "10%",
						    searchable: false,
						}, 
						{
							data : "skills",
							width : "10%",
						    searchable: false,

						},
						{
							data : "book",
							width : "10%",
						    searchable: false,
						},
						{
							data : "englishName",
							width : "1%"
						},
						{
							className : 'details-control',
						    searchable: false,
						    orderable: false,
							defaultContent : '',
							width : "1%"
						},
					],
					columnDefs : [
			            {
			                targets : [ 2 ],
			                visible : false
			            },
			            {
			                "targets": [ 3 ],
			                "visible": false
				        },
			            {
			                "targets": [ 4 ],
			                "visible": false
				        },
			            {
			                "targets": [ 5 ],
			                "visible": false
				        },
				    ],
				    buttons: [
			        	'searchPanes',
			            {
			        		extend: 'colvis',
			                text: 'Столбцы',
			                buttons: [
			                    {
			                        text: 'Увлеличение характеристик',
			                        action: function ( e, dt, node, config ) {
			                            dt.column( 2 ).visible( ! dt.column( 2 ).visible() );
			                        }
			                    },
			                    {
			                        text: 'Получение навыков',
			                        action: function ( e, dt, node, config ) {
			                            dt.column( 3 ).visible( ! dt.column( 3 ).visible() );
			                        }
			                    },
			                    {
			                        text: 'Источник',
			                        action: function ( e, dt, node, config ) {
			                            dt.column( 4 ).visible( ! dt.column( 4 ).visible() );
			                        }
			                    },
			                ]
			            }
			        ],
					language : {
						processing : "Загрузка...",
						search : "Поиск",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано с _START_ до _END_ из _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "(filtered from _MAX_ всего)",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        },
					},
					ordering : true,
				});
	$('#example tbody').on('click', 'tr', function () {
    	var tr = $(this).closest('tr');
    	var row = table.row( tr );
	    if ( row.child.isShown() ) {
        	row.child.hide();
        	tr.removeClass('shown');
    	}
    	else {
	        row.child( format(row.data()) ).show();
        	tr.addClass('shown');
    	}
		});
	});
	function format ( d ) {
		return d.description + '<p class="text-right font-weight-light"><small>Источник: '+ d.book + '</small></p>'; 
	}
	</script>
</body>
</html>