<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-layout}">
<head>
<title>Сокровища</title>
</head>
<body>
	<div class="container pt-5" layout:fragment="content">
		<div class="row">
			<div class="col-lg-10 mt-3 mb-3">
				<table id="example" class="table table-hover table-sm" style="width: 100%">
					<thead>
						<tr>
							<th>Сокровище</th>
							<th>Стоимость</th>
							<th>Категория</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	        var column = table.column( $(this).attr('data-column') );
	        column.visible( ! column.visible() );
	    });
	
		var table = $('#example').DataTable( {
			iDisplayLength : 15,
	        dom: '<"top"<"left-col"f><"right-col"B>>rtip',
			processing : true,
	        serverSide : true,
			ajax : '/treasures',
			columns : [
			{
				data : "name",
				width : "30%",
			},
			{
				data : "cost",
				className: "text-center",
				width : "5%",
			},
			{
				data : "type",
				width : "10%",
				searchable: false,
			},],
			columnDefs : [{
				targets : [ 2 ],
				visible : false
			},],
			buttons: [
			{
				extend: 'searchPanes',
				className: 'btn-main btn-sm btn-color-main',
			},
			{
				extend: 'colvis',
				text: 'Столбцы',
				className: 'btn-main btn-sm btn-color-main',
				buttons: [
				{
					text: 'Категория',
					action: function ( e, dt, node, config ) {
						dt.column( 2 ).visible( ! dt.column( 2 ).visible() );
					}
				},]
			}],
			language : {
						processing : "Загрузка...",
						search : "Поиск",
						lengthMenu : "Показывать _MENU_ записей на странице",
						zeroRecords : "Ничего не найдено",
						info : "Показано с _START_ до _END_ из _TOTAL_",
						infoEmpty : "Нет доступных записей",
						infoFiltered : "(filtered from _MAX_ всего)",
						paginate : {
							first : "В начало",
							previous : "Предыдущая",
							next : "Следущая",
							last : "В конец"
						},
						searchPanes: {
							clearMessage : "Сбросить",
				            title : {
				                    _: 'Отфильтровано - %d',
				                    0: 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
				                    1: 'Один фильтр выбран',
				            },
				            collapse: 'Фильтры (%d)'
				        },
					},
					ordering : true,
				});
		});
		</script>
</body>
</html>