<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>Добавление магической вещи</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/resources/css/bootstrap-multiselect.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .spells})"></div>

	<form action="#" th:action="@{/admin/artifacts/add}"
		th:object="${artifact}" method="post">
		<div class="panel panel-default">
			<div class="form-group row">
				<div class="col-xs-1">
					<label for="name">Название</label> <input type="text"
						class="form-control" id="name" th:field="*{name}" />
				</div>
				<div class="col-xs-2">
					<label for="sizeControl">Размер</label> <select class="form-control"
						id="sizeControl">
						<option th:each="rarity : ${rarityTypes}" th:value="${rarity}"
							th:text="${rarity.cyrilicName}">
					</select>
				</div>
				<div class="col-xs-3">
					<label for="sizeControl">Тип</label> <select class="form-control" th:field="*{{type}}">
						<option th:each="type : ${artifactTypes}" th:value="${type}"
							th:text="${type.cyrilicName}">
					</select>
				</div>
			</div>
		</div>
		<p>
			Настройка<input type="checkbox" th:field="*{customization}" />
		</p>
		<p>
			Description:
			<textarea th:field="*{description}" rows="30" cols="80"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>