<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Добавление магической вещи</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .spells})"></div>

	<form action="#" th:action="@{/admin/artifacts/add}"
		th:object="${artifact}" method="post">
		<div class="panel panel-default">
			<div class="form-group row">
				<div class="col-xs-4">
					<label for="name">Название</label> <input type="text"
						class="form-control" id="name" th:field="*{name}" />
				</div>
				<div class="col-xs-3">
					<label for="sizeControl">Size</label> <select class="form-control"
						id="sizeControl">
						<option th:each="rarity : ${rarityTypes}" th:value="${rarity}"
							th:text="${rarity.cyrilicName}">
					</select>
				</div>
				<div class="col-xs-3">
					<label for="sizeControl">Size</label> <select th:field="*{{type}}">
						<option th:each="type : ${artifactTypes}" th:value="${type}"
							th:text="${type}">
					</select>
				</div>
			</div>
		</div>
		<p>
			Настройка<input type="checkbox" th:field="*{customization}" />
		</p>
		<p>
			Description:
			<textarea th:field="*{description}" rows="30" cols="80"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>