<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/js-layout}">
<head>
<title>Добавление существа в Бестиарий</title>
</head>
<body>
	<div class="container" style="margin-top: 50px" layout:fragment="content">
		<form action="#" th:action="@{/creature/add}" th:object="${creature}" method="post">
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Наименование</span>
						</div>
						<input type="text" class="form-control" placeholder="Имя" aria-label="Имя" aria-describedby="basic-addon1" th:field="*{name}">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Размер</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option th:each="size : ${sizes}" th:value="${size}" th:text="${size.cyrilicName}" th:selected="${size.ordinal() == 2}"></option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Тип</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option th:each="type : ${types}" th:value="${type}" th:text="${type.cyrilicName}"></option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Мировозрение</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option th:each="aligment : ${aligments}" th:value="${aligment}" th:text="${aligment.cyrilicName}" th:selected="${aligment.ordinal() == 9}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Класс доспеха</span>
						</div>
						<input type="number" class="form-control" placeholder="AC" aria-label="AC" aria-describedby="basic-addon1" th:field="*{AC}">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Количество кубов хила/ куб хила/ бонус</span>
						</div>
						<input type="number" aria-label="First name" class="form-control"> <select class="custom-select" id="inputGroupSelect01">
							<option th:each="dice : ${dices}" th:value="${dice}" th:text="${dice.name()}"></option>
						</select> <input type="number" aria-label="Last name" class="form-control">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Скорость в фт.</span> <span class="input-group-text">Летая</span> <span class="input-group-text">Плавая</span> <span class="input-group-text">Лазая</span><span
								class="input-group-text"
							>Копая</span>
						</div>
						<input type="number" aria-label="speed" class="form-control" th:field="*{speed}"> <input type="number" aria-label="Last name" class="form-control" th:field="*{flySpeed}"> <input
							type="number" aria-label="Last name" class="form-control" th:field="*{swimmingSpped}"
						> <input type="number" aria-label="Last name" class="form-control" th:field="*{climbingSpeed}"> <input type="number" aria-label="Last name" class="form-control"
							th:field="*{diggingSpeed}"
						>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">Характеристики</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">СИЛ</span>
								</div>
								<input id="strId" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{strength}">
								<div class="input-group-prepend ">
									<span class="input-group-text" id="str_bonus">0</span>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">ЛОВ</span>
								</div>
								<input id="dex" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{dexterity}">
								<div class="input-group-prepend">
									<span class="input-group-text" id="dex_bonus">0</span>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">ТЕЛ</span>
								</div>
								<input id="con" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{constitution}">
								<div class="input-group-prepend">
									<span class="input-group-text" id="con_bonus">0</span>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">ИНТ</span>
								</div>
								<input id="ints" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{intellect}">
								<div class="input-group-prepend">
									<span class="input-group-text" id="int_bonus">0</span>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">МДР</span>
								</div>
								<input id="wiz" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{wizdom}">
								<div class="input-group-prepend">
									<span class="input-group-text" id="wiz_bonus">0</span>
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text" id="labelability">ХАР</span>
								</div>
								<input id="cha" type="number" class="form-control w-15" aria-describedby="basic-addon1" th:field="*{charisma}">
								<div class="input-group-prepend">
									<span class="input-group-text" id="cha_bonus">0</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">Спасброски</div>
				<div class="card-body">
					<div class="form-row align-items-center">
						<th:block th:each="savingThrow : ${savingThrows}">
							<div class="col-auto">
								<div class="form-check mb-2">
									<input class="form-check-input" type="checkbox" th:id="${savingThrow}" value="option1"> <label class="form-check-label" th:for="${savingThrow}" th:text="${savingThrow.shortName}">
									</label>
								</div>
							</div>
							<div class="form-group col-md-1">
								<input type="number" class="form-control" id="formGroupExampleInput">
							</div>
						</th:block>
					</div>
				</div>
			</div>
			<div class="card-header">Навыки</div>
			<div class="card-body">
				<div class="form-row align-items-center">
					<th:block th:each="skillType : ${skillTypes}">
						<div class="col-auto">
							<div class="form-check mb-1">
								<input class="form-check-input" type="checkbox" th:id="${skillType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${skillType.cyrilicName}">
								</label>
							</div>
						</div>
						<div class="form-group col-md-1">
							<input type="number" class="form-control" id="formGroupExampleInput">
						</div>
					</th:block>
				</div>
			</div>
			<div class="card-header">Уязвимость к урону</div>
			<div class="card-body">
				<div class="form-row align-items-center">
					<th:block th:each="damageType : ${vulnerabilityTypes}">
						<div class="col-auto">
							<div class="form-check mb-1">
								<input class="form-check-input" type="checkbox" th:id="${damageType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${damageType.cyrilicName}">
								</label>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			<div class="card-header">Сопротивление к урону</div>
			<div class="card-body">
				<div class="form-row align-items-center">
					<th:block th:each="damageType : ${resistanceTypes}">
						<div class="col-auto">
							<div class="form-check mb-1">
								<input class="form-check-input" type="checkbox" th:id="${damageType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${damageType.cyrilicName}">
								</label>
							</div>
						</div>
					</th:block>
					<th:block th:each="damageType : ${specialTypes}">
						<div class="col-auto">
							<div class="form-check mb-1">
								<input class="form-check-input" type="checkbox" th:id="${damageType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${damageType.cyrilicName}">
								</label>
							</div>
						</div>
					</th:block>
				</div>
				<div class="card-header">Иммунитет к урону</div>
				<div class="card-body">
					<div class="form-row align-items-center">
						<th:block th:each="damageType : ${resistanceTypes}">
							<div class="col-auto">
								<div class="form-check mb-1">
									<input class="form-check-input" type="checkbox" th:id="${damageType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${damageType.cyrilicName}">
									</label>
								</div>
							</div>
						</th:block>
						<th:block th:each="damageType : ${specialTypes}">
							<div class="col-auto">
								<div class="form-check mb-1">
									<input class="form-check-input" type="checkbox" th:id="${damageType}" value="option1"> <label class="form-check-label" th:for="${skillType}" th:text="${damageType.cyrilicName}">
									</label>
								</div>
							</div>
						</th:block>
					</div>
				</div>
				<div class="card-header">Иммунитет к состоянию</div>
				<div class="card-body">
					<div class="form-row align-items-center">
						<th:block th:each="state : ${states}">
							<div class="col-auto">
								<div class="form-check mb-1">
									<input class="form-check-input" type="checkbox" th:id="${state}" value="option1"> <label class="form-check-label" th:for="${state}" th:text="${state.cyrilicName}"> </label>
								</div>
							</div>
						</th:block>
					</div>
				</div>
				<div class="card-header">Чувства</div>
				<div class="card-body">
					<div class="form-row align-items-center">
						<th:block th:each="sense : ${senses}">
							<div class="col-auto">
								<div class="form-check mb-1">
									<input class="form-check-input" type="checkbox" th:id="${sense}" value="option1"> <label class="form-check-label" th:for="${sense}" th:text="${sense.cyrilicName}"> </label>
								</div>
							</div>
							<div class="form-group col-md-1">
								<input type="number" class="form-control" id="formGroupExampleInput">
							</div>
						</th:block>
					</div>
				</div>
				<div class="card-header">Языки</div>
				<div class="card-body"></div>
				<div class="card-header">Опасность</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select id="expgr" class="custom-select" onchange="exp()">
							<option value="1/8">1/8</option>
							<option value="1/4">1/4</option>
							<option value="1/2">1/2</option>
							<option th:each="i: ${#numbers.sequence(1,30)}" th:text="${i}" th:value="${i}" />
						</select>
						<div class="input-group-append">
							<label id="expValue" class="input-group-text" for="expgr">опыта</label>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-header">Особенности</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Добавить</button>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-header">Действия</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Добавить</button>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-header">Реакции</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Добавить</button>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-header">Легендарные действия</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Добавить</button>
				</div>
			</div>
			<div class="form-group">
				<label for="descriptionTextarea">Описание:</label>
				<textarea class="form-control" id="descriptionTextarea" rows="5"></textarea>
			</div>
		</form>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Добавление особености существа</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Название:</label> <input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Описание:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-primary">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script layout:fragment="script">
	$('#strId').change(function() {
		updateBonus('#strId', '#str_bonus');
	})
	$('#con').change(function() {
		updateBonus('#con', '#con_bonus');
	});
	$('#dex').change(function() {
		updateBonus('#dex', '#dex_bonus');
	})
	$('#ints').change(function() {
		updateBonus('#ints', '#int_bonus');
	})
	$('#wiz').change(function() {
		updateBonus('#wiz', '#wiz_bonus');
	})
	$('#cha').change(function() {
		updateBonus('#cha', '#cha_bonus');
	})
	function updateBonus(value, source) {
		var bonus = getBonus($(value).val());
		$(source).text(bonus);
	}
	function getBonus(value) {
		if (value == 1)
			return -5;
		else if (value <= 3)
			return -4;
		else if (value <= 5)
			return -3;
		else if (value <= 7)
			return -2;
		else if (value <= 9)
			return -1;
		else if (value <= 11)
			return 0;
		else if (value <= 13)
			return 1;
		else if (value <= 15)
			return 2;
		else if (value <= 17)
			return 3;
		else if (value <= 19)
			return 4;
		else if (value <= 21)
			return 5;
		else if (value <= 23)
			return 6;
		else if (value <= 25)
			return 7;
		else if (value <= 27)
			return 8;
		else if (value <= 29)
			return 9;
		return 10;
	}
	function exp() {

	}
</script>
</html>