<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Добавление снаряжения</title>
</head>
<body>
	<div class="container" style="margin-top: 50px" layout:fragment="content">
		<form action="#" th:action="@{/equipments/add}" th:object="${equipment}" method="post">
			<p>
				Название: <input type="text" th:field="*{name}" />
			</p>
			<p>
				С какого уровня: <input type="text" th:field="*{cost}" /> <select th:field="*{{currency}}">
					<option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency.name}">
				</select>
			</p>
			<p>
				Description:
				<textarea th:field="*{description}" rows="10" cols="50"></textarea>
			</p>
			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>
	</div>
</body>
</html>