<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Добавление монстра</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/admin/creature/add}" method="post" th:object="${monster}">
		<div class="panel panel-default">
			<div class="form-group">
				<label for="desControl">Description</label>
				<textarea rows="20" cols="80" name="description" id="desControl">  </textarea>
			</div>
		</div>
		<input type="submit" value="Submit" class="btn btn-default" />
	</form>
</body>
</html>