<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>DnD 5E Создание персонажа</title>
</head>
<body>
	<div class="container" style="margin-top: 25px" layout:fragment="content">
		<form th:action="@{/tavern/add}" th:object="${hero}" method="post">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="">Имя персонажа</span>
				</div>
				<input type="text" class="form-control" th:field="*{name}" />
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<label class="input-group-text" for="raceId">Расса</label>
				</div>
				<select id="classTypeId" class="custom-select" name="raceId" th:field="*{race.id}">
					<option th:each="race : ${races}" th:value="${race.id}" th:text="${race.name}" />
				</select>
			</div>
			<p>
				<input type="submit" value="Создать героя" />
			</p>
		</form>
	</div>
</body>
</html>