<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<title>DnD 5E Создание персонажа</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	    th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .conditions})"></div>
	<div class="container" style="margin-top: 50px">
		<form th:action="@{/tavern/add}" th:object="${hero}" method="post">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="">Имя персонажа</span>
				</div>
				<input type="text" class="form-control" th:field="*{name}" />
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<label class="input-group-text" for="raceId">Расса</label>
				</div>
				<select id="classTypeId" class="custom-select" name="raceId" th:field="*{race.id}">
					<option th:each="race : ${races}" th:value="${race.id}"
						 th:text="${race.name}" />
				</select>
			</div>
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<label class="input-group-text" for="heroClassId">Класс</label>
				</div>
				<select id="classTypeId" class="custom-select" name="heroClassId" th:field="*{heroClass.id}">
					<option th:each="heroClass : ${classes}" th:value="${heroClass.id}"
						 th:text="${heroClass.name}" />
				</select>
			</div>
			<div class="input-group mb-4">
				<div class="input-group-prepend">
					<label class="input-group-text" for="schoolType">Уровень</label>
				</div>
				<select id=level class="custom-select" th:field="*{level}">
					<option th:each="i: ${#numbers.sequence(1, 20)}" th:text="${i}"
						th:value="${i}" />
				</select>
			</div>
			<p>
				<input type="submit" value="Создать героя" />
			</p>
		</form>
	</div>
</body>
</html>