<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Таверна героев</title>
</head>
<body>
	<div class="container" style="margin-top: 25px" layout:fragment="content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col" class="text-center">Герой</th>
					<th scope="col" class="text-center">Уровень</th>
				</tr>
			</thead>
			<tr th:each="hero : ${heroes}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${hero.id} + '\');'">
				<td class="text-center"><img th:src="@{'/resources/classes/' + ${hero.heroClass.id}+ '.png'}" th:title="${hero.heroClass.name}" height="50" width="50" /> <th:block th:text="${hero.name}" /></td>
				<td class="text-center" th:text="*{hero.level}">
			</tr>
		</table>
	</div>
</body>
<script>
	function rowClicked(value) {
		var baseUrl = '[[@{/tavern/hero/}]]';
		location.href = baseUrl + value;
	}
</script>
</html>