<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="skills()">
		<div class="card-columns" style="margin-top: 10px">
			<div class="form-check" th:each="skillType : ${skillTypes}">
				<div class="card">
					<div class="card-header" th:text="${skillType.key.cyrilicName}"></div>
					<div class="card-body">
						<th:block th:each="skill : ${skillType.value}">
							<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
								<div class="btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-outline-secondary btn-sm"> <input type="checkbox" autocomplete="off" th:text="${skill.cyrilicName}"
										th:disabled="${not #lists.contains(hero.heroClass.availableSkills, skill)}"
									> <span class="badge badge-light"><th:block th:switch="${skill.ability.name()}">
												<th:block th:case="STRENGTH" th:text="${hero.strBonus}" />
												<th:block th:case="DEXTERITY" th:text="${hero.dexBonus}" />
												<th:block th:case="INTELLIGENCE" th:text="${hero.intBonus}" />
												<th:block th:case="WISDOM" th:text="${hero.wizBonus}" />
												<th:block th:case="CHARISMA" th:text="${hero.chrBonus}" />
											</th:block></span>
									</label>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>