@charset "UTF-8";
tbody .hiddenRow {
	padding: 0 8px;
}
.grid-icon{
	background-image: url(/resources/icons/svg/grid_view_black_24dp.svg);
	background-repeat: no-repeat;
	max-width: 24px;
	max-height: 24px;
}
.left-col {
    float: left;
    width: 30%;
}
.center-col {
    float: center;
    width: 25%;
    padding: 4px 8px 4px 8px;
}
.right-col {
    float: right;
    width: 70%;
    padding: 4px 8px 4px 8px;
    max-height: 24px;
}
div.dt-buttons {
	float: right
}
.lineTop {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 2px;
       width: 100%;
       max-height: 2;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border-top: 1px solid #E69A28;
       border-bottom: 1px solid #E69A28;
       background-color: #E69A28
}
table.dataTable tbody tr.selected {
  background-color: #DACEAC;
}
button.dt-button.active {
    background: grey !important;
}