@charset "UTF-8";
#header {
    padding: 14px 30px;
    transition: all 1s;
    background: #343A40;
}
body {
	margin: 0;
	/* background-image: url(/resources/background.png); */ 
	background-color: rgba(249, 246, 243, 0.997);
	background-blend-mode: overlay;
	ramgin-bottom: 60px;
	color: #3C2114;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	font-size: 14px;
}
code {	font-size: 80%;
}
.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}
p.text-justify {
	text-indent: 15px;
}
.scale {
 	transition: 0.7s; 
}
.scale:hover {
	transform: scale(1.7); 
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #8A4C2E;
}
.separator:not(:empty)::after {
  margin-left: .60em;
}
.line1 {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 2px;
       width: 100%;
       max-height: 2;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border-top: 1px solid #E69A28;
       border-bottom: 1px solid #E69A28;
       background-color: #E69A28
}
.main-header {
	color: #A12000;
	font-size: 20px;
s}
.title {
	font-size: 16px;
	color: #C77B57;
}
.cover {
  width: 260px;
  object-fit: cover;
}
/* Colors */
.color-header{
	background-color: #343A40;
}
.color-main-bg{
	background-color: #FFFAF0;
}
.color-main-bg-500{
	background: #F9F6F3;
}
.color-main-bg-600{
	background: #F1EBE4;
}
.color-main-bg-700{
	background: #E5DACD;
}
.text-color{
	color: #3C2114;
}
.text-color-opacity{
	color: #3C2114;
	opacity: 0.4;
}
.text-color-300{
	color: #C77B57;
}
.text-color-400{
	color: #8A4C2E;
}
.text-color-500{
	color: #3C2114;
}
.color-primary{
	background: #949169;
}
.color-primary-500{
	background: #949169;
}
.color-primary-600{
	background: #777555;
}
.color-primary-700{
	background: #5A583F;
}
.color-secondary{
	background: #DACEAC;
}
.color-secondary-300{
	background: #DACEAC;
}
.color-secondary-400{
	background: #DACEAC;
}
.color-secondary-500{
	background: #DACEAC;
}
.color-secondary-600{
	background: #DACEAC;
}
.color-secondary-700{
	background: #DACEAC;
}