@charset "UTF-8";
body {
	margin:0;
	background-color: #FFFAF0;
 }

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}

tbody .hiddenRow {
    padding: 0 8px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #003C00;
  background-color: #FDE5E6;
  border: 1px solid #346767;
}
 
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #F4A460;
  border-color: #AEFF5E;
}
 
.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #FFE4C4;
  border-color: #AEFF5E;
}

.card-header {
    background-color: #FFD39B;
}
.card-title {
	background-color: #EEC591;
}
.card-body {
	background-color: #FFE4C4;
}

.list-group-item {
	   background-color: #FFE4C4;
}
