@charset "UTF-8";
#header {
    padding: 14px 30px;
    transition: all 1s;
    background: #343A40;
}
body {
	margin: 0;
	/* background-image: url(/resources/background.png); */ 
	background-color: rgba(249, 246, 243, 0.997);
	background-blend-mode: overlay;
	ramgin-bottom: 60px;
	color: #3C2114;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 19px
}
code {	font-size: 80%;
}
.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}
tbody .hiddenRow {
	padding: 0 8px;
}
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #003C00;
	background-color: #FDE5E6;
	border: 1px solid #346767;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #F4A460;
	border-color: #AEFF5E;
}
.blockquote-footer {
	background-color: #FFFAF0;
}
.invert {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.line1 {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 2px;
       width: 100%;
       max-height: 2;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border-top: 1px solid #E69A28;
       border-bottom: 1px solid #E69A28;
       background-color: #E69A28
}
.header {
	color: #A12000;
}
/* Colors */
.color-header{
	background-color: #343A40;
}
.color-main-bg{
	background-color: #FFFAF0;
}
.color-main-bg-500{
	background: #F9F6F3;
}
.color-main-bg-600{
	background: #F1EBE4;
}
.color-main-bg-700{
	background: #E5DACD;
}
.text-color{
	color: #3C2114
}
.text-color-300{
	color: #C77B57
}
.text-color-400{
	color: #8A4C2E
}
.text-color-500{
	color: #3C2114
}
.color-primary{
	background: #949169;
}
.color-primary-500{
	background: #949169;
}
.color-primary-600{
	background: #777555;
}
.color-primary-700{
	background: #5A583F;
}
.color-secondary{
	background: #DACEAC;
}
.color-secondary-300{
	background: #DACEAC;
}
.color-secondary-400{
	background: #DACEAC;
}
.color-secondary-500{
	background: #DACEAC;
}
.color-secondary-600{
	background: #DACEAC;
}
.color-secondary-700{
	background: #DACEAC;
}