@charset "UTF-8";
 
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #003C00;
  background-color: #D8EBEB;
  border: 1px solid #346767;
}
 
.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  cursor: auto;
  background-color: #CEFFCE;
  border-color: #718393;
}
 
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #003C00;
  border-color: #AEFF5E;
}
 
.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #003C00;
  border-color: #AEFF5E;
}