<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/tableLayout}">
<head>
<title>Создание персонажа</title>
<style type="text/css">
.modal-header {
	background-color: darkgray;
	color: white;
}

.modal-content {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background-color: #FFFAF0;
}
</style>
</head>
<body>
	<div class="container" style="margin-top: 25px" layout:fragment="content">
		<div th:insert="fragments/builder :: menu('class')"></div>
		<div class="row">
			<div class="col-md-12">
				<h4>Выбор класса (Этап 2)</h4>
				<form method="post">
					<div class="form-group row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-secondary" name="_eventId_selectRace">Назад</button>
							<button type="submit" class="btn btn-secondary" name="_eventId_selectAbility">Далее</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:unless="${heroModel.selected}">
			<h4>
				Общий уровень персонажа: <span th:text="${heroModel.level}"></span>
			</h4>
			<th:block th:unless="${heroModel.selected}" th:each="selectedClass : ${heroModel.classes}">
				<div class="row justify-content-between">
					<div class="col-4">
						<div class="row">
							<img class="img-fluid" th:src="@{|https://storage.googleapis.com/dnd5/classes/${selectedClass.id}.png|}" height="50" width="50" />
							<h4 th:text="${selectedClass.name}"></h4>
						</div>
					</div>
					<div class="col-4">
						<div class="row">
							<form class="form-inline" th:id="'levelClass' + ${selectedClass.id}" th:action="@{'~' + ${flowExecutionUrl} + '&_eventId_changeLevel'}" method="post" th:object="${classInfo}"
								enctype="multipart/form-data"
							>
								<input id="id" hidden="true" type="number" th:name="id" th:value="${selectedClass.id}">
								<div class="form-group">
									<label for="level">Уровень </label> <select id="level" name="level" class="custom-select mr-sm-2" th:onchange="'levelClass'+${selectedClass.id}+'.submit()'">
										<option th:each="level : ${#numbers.sequence(1, 20)}" th:selected="${level eq selectedClass.level}" th:text="${level}" th:value="${level}" />
									</select>
								</div>
							</form>
							<form class="form-inline" method="post" th:object="${classInfo}" enctype="multipart/form-data">
								<input id="id" hidden="true" type="number" th:name="id" th:value="${selectedClass.id}"></input>
								<button id="deleteSelectButton" class="btn btn-outline-danger" type="submit" name="_eventId_removeClass">
									<span aria-hidden="true">&times;</span>
								</button>
							</form>
						</div>
					</div>
				</div>
				<div>
					<a class="btn btn-link" data-toggle="collapse" th:href="|#classTraits${selectedClass.id}|" role="button"
						th:attr="aria-expanded=${heroModel.classes.size() eq 1}, aria-controls='classTraits' + ${selectedClass.id}"
					>Особенности класса</a>
					<div class="collapse" th:classappend="${heroModel.classes.size() eq 1} ? 'show': ''" th:id="|classTraits${selectedClass.id}|">
						<th:block th:each="heroClass : ${classes}">
							<th:block th:if="${heroClass.id eq selectedClass.id}">
								<div class="card">
									<h6 class="card-header">ВЛАДЕНИЯ</h6>
									<div class="card-body">
										<div>
											<strong>Доспехи:</strong> <span th:text="${heroClass.armor}"></span>
										</div>
										<div>
											<strong>Оружие:</strong> <span th:text="${heroClass.weapon}"></span>
										</div>
										<div>
											<strong>Инструменты:</strong> <span th:text="${heroClass.tools}"></span>
										</div>
										<div>
											<strong>Спасброски:</strong> <span th:text="${heroClass.savingThrows}"></span>
										</div>
										<div>
											<strong>Навыки:</strong> Выберите <span th:text="${heroClass.skillTrainingCount}"></span> навыка
										</div>
										<th:block th:each="skillCount : ${#numbers.sequence(1, heroClass.skillTrainingCount)}">
											<form th:id="'levelClass' + ${selectedClass.id}" th:action="@{'~' + ${flowExecutionUrl} + '&_eventId_addSkill'}" method="post" th:object="${classInfo}" enctype="multipart/form-data">
												<select id="skill" name="skill" class="form-control">
													<option>-Выбрать навыки из следующих-</option>
													<option th:each="skill : ${heroClass.availableSkills}" th:text="${skill.cyrilicName}" th:value="${skill}"></option>
												</select>
											</form>
										</th:block>
									</div>
								</div>
								<div class="card" th:each="trait : ${heroClass.traits}">
									<th:block th:if="${trait.level le selectedClass.level}">
										<h6 class="card-header" th:text="${trait.name}"></h6>
										<div class="card-body" th:utext="${trait.description}"></div>
									</th:block>
								</div>
							</th:block>
						</th:block>
					</div>
				</div>
			</th:block>
		</div>
		<a th:unless="${heroModel.classes.empty or heroModel.selected}" th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_addMulticlass'}">Добавить другой класс</a> <a
			th:if="${not heroModel.classes.empty and heroModel.selected}" th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_cancleMulticlass'}"
		>Отменить выбор класса</a>
		<table th:if="${heroModel.selected}" id="example" class="table table-hover" style="width: 100%">
			<thead>
				<tr>
					<th></th>
					<th>Класс</th>
					<th></th>
				</tr>
			</thead>
		</table>
		<div th:each="heroClass : ${classes}" class="modal fade" th:id="'m' + ${heroClass.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" th:text="${heroClass.name}">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img th:src="@{|/resources/classes/${heroClass.id}.png|}" height="70">
						<div>
							<strong>Кость хитов:</strong> к<span th:text="${heroClass.hitDice}"></span>
						</div>
						<div>
							<strong>Основная характеристика:</strong> <span th:text="${heroClass.primaryAbilities}"></span>
						</div>
						<div>
							<strong>Спасброски:</strong> <span th:text="${heroClass.savingThrows}"></span>
						</div>
						<div class="card" th:each="trait : ${heroClass.traits}">
							<h6 class="card-header" th:text="${trait.name}"></h6>
							<div class="card-body" th:utext="${trait.description}"></div>
						</div>
					</div>
					<div class="modal-footer">
						<form method="post" th:object="${classInfo}" enctype="multipart/form-data">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
							<input id="id" hidden="true" type="number" th:name="id" th:value="${heroClass.id}"></input> <input id="name" hidden="true" type="text" th:name="name" th:value="${heroClass.name}"></input>
							<button id="classSelectButton" class="btn btn-success" type="submit" name="_eventId_addClass">Добавить класс</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript" layout:fragment="datatable">
	$(document).ready(function() {
		$('a.toggle-vis').on('click', function(e) {
			e.preventDefault();
			var column = table.column($(this).attr('data-column'));
			column.visible(!column.visible());
		});

		var table = $('#example').DataTable({
			processing : true,
			serverSide : true,
			paging : false,
			ajax : '/table/classes',
			columns : [ {
				data : "id",
				width : "1%",
			    orderable: false,
				render : function(data, type) {
					if (type === 'display') {
						return '<img src="/resources/classes/'+ data +'.png" height="50">';
					}
					return data;
				},
			},
			{
				data : "name",
				width : "50%",
				render : function(data, type, row) {
					if (type === 'display') {
						var result = '<h5>' + data + '</h5>';
						return result;
					}
					return data;
				}, 
			},
			{
				data : "id",
				width : "10%",
			    searchable: false,
			    orderable: false,
				render : function(data, type, row) {
					if (type === 'display') {
						if (![[${heroModel.classes.empty}]]) {
							for (var i=0; i<[[${heroModel.classes.size()}]]; i++){
								if ([[${heroModel.classes}]][i].id == row.id){
									return '<div class="alert alert-primary" role="alert">Уже выбран</div>';
								}
							}
							if ((row.id == 1 || row.id == 5 || row.id == 8) && [[${heroModel.abilityInfo.charisma}]] < 13){
								return '<div class="alert alert-danger" role="alert">Харизма 13 или более</div>';
							}
							if ((row.id == 2 || row.id == 14) && [[${heroModel.abilityInfo.intellect}]] < 13){
								return '<div class="alert alert-danger" role="alert">Интеллект 13 или более</div>';
							}
							if ((row.id == 3 || row.id == 4) && [[${heroModel.abilityInfo.wizdom}]] < 13){
								return '<div class="alert alert-danger" role="alert">Мудрость 13 или более</div>';
							}
							if (row.id == 6 && ([[${heroModel.abilityInfo.strength}]] < 13 || [[${heroModel.abilityInfo.charisma}]] < 13)){
								return '<div class="alert alert-danger" role="alert">Сила и Харизма 13 или более</div>';
							}
							if (row.id == 7 && ([[${heroModel.abilityInfo.dexterity}]] < 13 || [[${heroModel.abilityInfo.wizdom}]] < 13)){
								return '<div class="alert alert-danger" role="alert">Ловкость и Мудрость 13 или более</div>';
							}
							if (row.id == 9 && [[${heroModel.abilityInfo.strength}]] < 13){
								return '<div class="alert alert-danger" role="alert">Сила 13 или более</div>';
							}
							if (row.id == 11 && [[${heroModel.abilityInfo.strength}]] < 13 && [[${heroModel.abilityInfo.dexterity}]] < 13){
								return '<div class="alert alert-danger" role="alert">Сила или Ловкость 13 или более</div>';
							}
							if (row.id == 12 && ([[${heroModel.abilityInfo.wizdom}]] < 13 || [[${heroModel.abilityInfo.dexterity}]] < 13)){
								return '<div class="alert alert-danger" role="alert">Ловкость и Мудрость 13 или более</div>';
							}
							if (row.id == 13 && [[${heroModel.abilityInfo.dexterity}]] < 13){
								return '<div class="alert alert-danger" role="alert">Ловкость 13 или более</div>';
							}
							return '<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#m'+ data+'">Добавить</a>';
						}
						return '<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#m'+ data+'">Выбрать</a>';
					}
					return data;
				}, 
			},
			],
			language : {
				processing : "Загрузка...",
				search : "Поиск",
				lengthMenu : "Показывать _MENU_ записей на странице",
				zeroRecords : "Ничего не найдено",
				info : "Показано с _START_ до _END_ из _TOTAL_",
				infoEmpty : "Нет доступных записей",
				infoFiltered : "(filtered from _MAX_ всего)",
				paginate : {
					first : "В начало",
					previous : "Предыдущая",
					next : "Следущая",
					last : "В конец"
				},
			},
			order : [(${order})],
			ordering : true,
		});
	});
	function format(d) {
		var info = '';
		for(var race in d.subRaces){
			info += '<tr><td>' + d.subRaces[race].name + '</td><td><a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#m'+ d.subRaces[race].id +'">Выбрать</a></td></tr>';
		}
		return info;
	}
</script>
</html>