
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Предистория</title>
</head>
<body>
	<div class="container p-5" style="margin-top: 50px">
		<div class="card" th:object="${background}">
			<div class="card-body" th:utext="*{description}"></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><strong>Владение навыками:</strong> <th:block th:each="skillType, iterStat : *{skills}"
						th:text="${iterStat.last} ? ${skillType.cyrilicName}: ${skillType.cyrilicName}  + ', '"
					></th:block></li>
				<li class="list-group-item"><strong>Снаряжение:</strong> <th:block th:each="equipment, iterStat : ${background.equipments}"
						th:text="${iterStat.last} ? ${equipment.name}: ${equipment.name}  + ', '"
					>
					</th:block></li>
				<li class="list-group-item"><strong>Умение: <th:block th:utext="${background.skillName}" /></strong> <th:block th:utext="*{skillDescription}" /></li>
			</ul>
			<div class="card-footer text-muted" th:text="'Источник: ' + *{book.name}"></div>
		</div>
	</div>
</body>
</html>