<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<head>
<style>
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
<title>DnD 5E Предистории</title>
<meta charset="utf-8">

<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<style>
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .backgrounds})"></div>
	<div class="container" style="margin-top: 50px">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Предистории</th>
					<th></th>
				</tr>
			</thead>
			<th:block th:each="background : ${backgrounds}">
				<tr data-toggle="collapse"
					th:attr="data-target='#d'+ ${background.id}">
					<td th:text="${background.name}" />
					<td><img
						th:src="@{/resources/open-iconic/svg/caret-bottom.svg}"
						height="25" /></td>
				</tr>
				<tr>
					<td colspan="6" class="hiddenRow">
						<div th:id="'d' + ${background.id}" class="collapse">
							<div class="card">
								<div class="card-body" th:utext="${background.description}"></div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><strong>Владение
											навыками:</strong> <th:block
											th:each="skillType, iterStat : ${background.skills}"
											th:text="${iterStat.last} ? ${skillType.cyrilicName}: ${skillType.cyrilicName}  + ', '"></th:block></li>
									<li class="list-group-item"><strong>Снаряжение:</strong> <th:block
											th:each="equipment, iterStat : ${background.equipments}"
											th:text="${iterStat.last} ? ${equipment.name}: ${equipment.name}  + ', '">
										</th:block></li>
									<li class="list-group-item"><strong>Умение: <th:block
												th:utext="${background.skillName}" /></strong> <th:block
											th:utext="${background.skillDescription}" /></li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<th:block>
		</table>
	</div>
</body>
</html>