<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-mobile}">
<head>
<title>Расы</title>
<link rel="stylesheet" th:href="@{/resources/css/card.columns.flex.css}" />
<script th:src="@{/resources/js/fixCardColumn.js}"></script>
<style>
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
</style>
</head>
<body>
	<div class="container-fluid pb-4 pt-5 pl-1 pr-1" layout:fragment="content">
		<div class="row justify-content-md-center pl-3 pr-3">
			<div th:each="race : ${races}" class="col-md-auto  pb-1 pt-1">
				<div class="card-class">
					<div class="text-class pb-0" th:text="${race.capName}"></div>
					<div class="pt-0 pb-2" th:text="${race.englishName}"></div>
					<a th:href="@{|/races/race/${race.id}|}"> <img class="cover rounded-lg" th:src="@{'https://storage.googleapis.com/dnd5/races/'+ ${race.id} +'.jpg'}" align="middle" width="250px" height="277px" /></a>
					<div class="row justify-content-between">
						<div class="col-8 pt-1 text-color-400" th:text="${race.abilityBonuses}"></div>
						<div class="col text-right">
							<img data-toggle="tooltip" data-placement="top" th:if="${race.darkVision}" class="invert" th:src="@{/resources/icons/Icon.6_30.png}" height="25" title="темное зрение" /><img
								data-toggle="tooltip" data-placement="top" th:if="${race.natureArmor}" class="invert" th:src="@{/resources/icons/Icon.7_67.png}" height="25" title="природный доспех"
							/><img data-toggle="tooltip" data-placement="top" th:if="${race.athletics}" class="invert" th:src="@{/resources/icons/Icon.4_64.png}" height="25" title="атлетичный" /><img
								data-toggle="tooltip" data-placement="top" th:if="${race.stealth}" class="invert" th:src="@{/resources/icons/Icon.6_10.png}" height="25" title="скрытный"
							/><img data-toggle="tooltip" data-placement="top" th:if="${race.resistenceFire}" class="invert" th:src="@{/resources/icons/Icon.6_68.png}" height="25" title="сопротивление к урону огнем" /><img
								data-toggle="tooltip" data-placement="top" th:if="${race.resistencePoison}" class="invert" th:src="@{/resources/icons/Icon.1_69.png}" height="25"
								title="сопротивление или иммунитет к урону ядом"
							/><img data-toggle="tooltip" data-placement="top" th:if="${race.resistenceCold}" class="invert" th:src="@{/resources/icons/Icon.2_66.png}" height="25" title="сопротивление к урону холодом" /><img
								height="25"
							/>
						</div>
					</div>
					<div class="text-color-opacity">Источник:</div>
					<div class="text-color-opacity" th:text="${race.book.name}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>