<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>DnD 5E Свойство оружия</title>
<meta charset="utf-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/resources/js/settings.js}"></script>
<style>
.table>tbody .hiddenRow {
	padding: 0 8px;
}
</style>
</head>
<body>
	<div th:insert="fragments/header :: header(~{ :: .weapons})"></div>
	<div class="container" style="margin-top: 50px">
		<div class="card" th:object="${property}">
			<h5 class="card-header" th:text="*{name}"></h5>
			<div class="card-body" th:utext="*{description}"></div>
		</div>
	</div>
</body>
</html>